extends pug/base.pug

append content
  include pug/includes/header.pug

  main.main(id="main")
    section.section-hero
      img.section-hero__image(src="images/main/main-bg.jpg" alt="")
      .section-hero__block
        .container
          .section-hero__title Мобильный бетонный завод
            span.orange EUROMIX CROCUS

          form.section-hero__form.form
            .form__title Оставьте заявку
            .form__subtitle Мы отправим Вам цены, условия и сроки поставки
            .form__inputs
              input.input(type="text" placeholder="Ваше имя")
              input.input(type="text" placeholder="Телефон")
            .form__btn
              button.btn.btn-sm.btn-black(type="submit") Отправить

            .form__checkbox.checkbox
              input.checkbox__input(type="checkbox" id="checkbox-1" checked)
              label.checkbox__label(for="checkbox-1") согласен с пользовательским<br> соглашением

            .form__info
              .form__info-item
                svg.form__info-icon(width="42" height="42" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M8.03 22.176h3.722v1.28H8.03v-1.28zm13.407-1.168c.353 0 .684.08.983.227a22.199 22.199 0 013.872-3.713c.353.336.706.672 1.063 1.008a21.377 21.377 0 01-3.717 4.276 2.242 2.242 0 11-4.04-.827 38.339 38.339 0 01-4.23-7.224l1.125-.618c1.66 2.23 3.108 4.549 4.301 6.972a2 2 0 01.643-.1zM18.228 8.786l-.004 3.83L28.799 6.54 18.245.42l-.009 3.928a18.67 18.67 0 00-10.47 5.28A18.68 18.68 0 002.28 22.86c0 4.982 1.961 9.715 5.485 13.235A18.648 18.648 0 0021 41.58c4.981 0 9.715-1.962 13.238-5.485a18.732 18.732 0 004.583-7.489l.218-.676-4.192-1.243-.21.638A14.33 14.33 0 0131.147 33a14.287 14.287 0 01-10.143 4.2A14.295 14.295 0 0110.865 33c-2.7-2.7-4.2-6.325-4.2-10.143 0-3.818 1.504-7.442 4.2-10.139a14.308 14.308 0 017.363-3.93zM35.183 20.71a14.051 14.051 0 00-.68-2.692l-.231-.643 4.1-1.528.239.655c.457 1.264.772 2.574.949 3.91l.1.752-4.384.16-.093-.614zm-.08 4.78c.16-.865.24-1.747.24-2.625 0-.088 0-.172-.004-.26l-.009-.681 4.373-.16.016.702a19.017 19.017 0 01-.37 4.141l-.15.74-4.205-1.248.11-.61zm-1.36-9.215a14.421 14.421 0 00-1.344-2.117l-.416-.542 3.444-2.696.424.554a18.356 18.356 0 011.945 3.13l.336.684-4.112 1.537-.277-.55zm-2.163-3.116l-.441-.437a14.39 14.39 0 00-2.083-1.726l-.618-.42 2.734-3.44.534.374c.899.63 1.747 1.34 2.524 2.116.092.093.18.185.269.278l.529.554-3.448 2.7zM21.008 35.59v-3.717h1.281v3.717h-1.28zm9.396-3.713l-2.63-2.63.908-.907 2.629 2.63-.907.907zm-18.665-.307l2.633-2.629.908.907-2.63 2.63-.911-.908zm.307-18.665l2.629 2.634-.903.907-2.634-2.63.908-.91zm18.664.307l-.907-.907-2.629 2.633.907.908 2.63-2.634zm3.713 9.4h-3.721v-1.281h3.721v1.28z" fill="#222A31")
                .form__info-text Ответим в течение часа
              .form__info-item
                svg.form__info-icon(width="49" height="49" fill="none" xmlns="http://www.w3.org/2000/svg")
                  g(fill="#222A31")
                    path(d="M28.077 22.858zm1.921.275c-.167.01-.333.01-.49 0 .083.005.162.015.25.015.073.004.157-.01.24-.015zm-1.206-.083zm1.417.073z")
                    path(d="M40.023 29.552l.02-.02-.76-.764-.485-.48-.833-.833-.431-.431-4.155-4.156c-.49.343-1.181.701-2.195.98a5.36 5.36 0 01-1.431.192c-1.926 0-3.371-1.01-3.396-1.03l-4.003-2.567-.681.681c.112.956.343 3.224.147 4.787-.304 2.436-2.573 3.151-2.67 3.18l-.765.23-.314-.734c-.015-.035-1.436-3.357-2.376-5.949-1.132-3.121 1.01-5.125 1.073-5.18l2.915-2.915-2.033-2.033-9.634 9.643 3.538 3.538s.392.5.569 1.117c.073.26.103.52.112.74a2.7 2.7 0 011.906.794c.637.637.873 1.524.73 2.371l.084.084a2.71 2.71 0 011.607-.54c.725 0 1.406.285 1.92.794.662.657.902 1.593.73 2.46a2.725 2.725 0 011.75-.637c.725 0 1.407.284 1.921.794.995 1 1.058 2.621.142 3.7-.015.014-.024.029-.04.044a.803.803 0 01-.102.122l-.27.27c.192-.04.383-.069.579-.069.725 0 1.406.284 1.92.799.794.794.99 1.99.569 2.989l.196.196c.015.02.02.044.04.059.014.02.038.024.058.039l.005.005a.826.826 0 001.083-.015l.005.005.034-.034 1.406-1.407.054-.054-.01-.01a.816.816 0 000-1.058l.02-.02-.764-.759-.427-.426.926-.926c.172.171.304.298.294.289l1.24 1.24c.015.019.02.039.04.058.019.02.038.025.058.04l.005.004a.826.826 0 001.083-.014l.005.005.034-.035 1.406-1.406.054-.054-.01-.01a.828.828 0 000-1.058l.02-.02-1.348-1.347-.289-.285.912-.91c.632.626 1.396 1.386 1.42 1.405l.564.564c.015.02.02.04.04.059.014.014.039.024.058.039l.005.005a.826.826 0 001.083-.015l.005.005.034-.034 1.407-1.407.053-.053-.01-.01a.816.816 0 000-1.059l.02-.02-1.347-1.347-.735-.73.94-.94 1.319 1.317c.034.035.073.06.108.089l.563.563c.015.02.02.044.04.059.014.02.038.024.058.04l.005.004a.826.826 0 001.083-.015l.005.005.034-.034 1.406-1.406.054-.054-.01-.01c.265-.333.265-.77.01-1.083zm-8.207 4.047l.005-.005.73.73.005.006-.74-.73z")
                    path(d="M27.602 22.672c.112.05.23.093.357.142a4.186 4.186 0 01-.357-.142zm-.765-.406s.025.02.069.044c-.034-.025-.069-.044-.069-.044zm.123.074a3.86 3.86 0 010-.001zm.26.151zm11.099-14.94a3 3 0 00-4.244.001l-1.458 1.46a3 3 0 00.001 4.241l8.068 8.068a3 3 0 004.242.001l1.459-1.458a3 3 0 000-4.243l-8.069-8.07zm5.853 12.012a1.298 1.298 0 11-1.837-1.837 1.298 1.298 0 011.837 1.837zM2.612 15.18a3 3 0 000 4.244l1.049 1.049a3 3 0 004.242 0l7.636-7.636a3 3 0 00.001-4.242l-1.047-1.048a3 3 0 00-4.243-.001L2.612 15.18zm4.12 3.979c-.529.53-1.381.53-1.906 0a1.343 1.343 0 010-1.906 1.343 1.343 0 011.907 0c.529.53.529 1.382 0 1.906zm6.87 12.309a1.837 1.837 0 00-.093-2.494 1.836 1.836 0 00-2.489-.093l-.005.005c-.034.029-.073.053-.108.088l-.48.485c-.034.034-.059.073-.088.108l-.564.563c-.02.015-.039.02-.058.04-.015.019-.025.043-.04.058l-.004.005a.826.826 0 00.014 1.083l-.005.005.035.034 1.406 1.406.054.054.01-.01a.828.828 0 001.058 0l.02.02.764-.764.48-.48.103-.103-.01-.01zm10.971 10.187a1.83 1.83 0 00-.093-2.49 1.837 1.837 0 00-2.494-.092s-.078.063-.112.093l-.873.872c-.034.034-.058.073-.088.108l-.563.563c-.02.015-.04.02-.06.04-.019.014-.024.039-.038.058l-.005.005a.826.826 0 00.015 1.083l-.005.005.034.034 1.406 1.407.054.053.01-.01a.828.828 0 001.058 0l.02.02.764-.764.48-.48.495-.495-.005-.01zm-6.629-7.477a1.83 1.83 0 00-.093-2.49 1.837 1.837 0 00-2.494-.093l-1.26 1.26-.005.005c-.034.029 1.186-1.206 1.152-1.172l-.48.48c-.035.03-.06.074-.088.108L12.857 34.1c-.02.015-.04.02-.06.04-.014.014-.024.039-.038.058l-.005.005a.826.826 0 00.014 1.083l-.005.005.035.034 1.406 1.407.054.053.01-.01a.828.828 0 001.058 0l.02.02 2.019-2.019.48-.48-1.157 1.157 1.255-1.274zm4.4 2.616a1.837 1.837 0 00-.093-2.494 1.836 1.836 0 00-2.49-.093l-2.15 2.151-.005.005c-.035.03 2.077-2.097 2.043-2.063l-.48.485c-.035.03-2.21 2.22-2.24 2.259l-.563.559c-.02.014-.04.02-.059.039-.014.02-.024.039-.039.059l-.005.005a.826.826 0 00.015 1.082l-.005.005.034.035 1.407 1.406.053.054.01-.01a.828.828 0 001.059 0l.02.02 2.91-2.911.48-.485-2.038 2.053 2.136-2.16z")
                    path(d="M21.923 13.573L17.4 18.096s-1.808 1.65-.867 4.248c.945 2.597 2.361 5.9 2.361 5.9s1.809-.55 2.044-2.44c.235-1.887-.201-4.999-.201-4.999l1.494-1.494 4.606 2.954s1.887 1.338 4.111.726c2.22-.608 2.656-1.593 2.656-1.593l4.288 4.288 2.714-2.715-10.148-10.148-1.68 1.68-6.855-.93z")
                .form__info-text индивидуальные условия доставки и оплаты
      .section-hero__content
        .container
          .section-hero__content-inner
            .section-hero__content-year.year
              .year__number 30
              .year__content
                .year__title лет
                .year__text успешной работы

            .section-hero__content-text.
              «Завод EUROMIX» - производитель бетонных заводов EUROMIX CROCUS - это предприятие,
              которое за годы партнерства плотного сотрудничества с западными коллегами выработало
              уникальную стратегию, максимально приблизившись к оптимуму «цена-качество»,
              имеющее большой опыт в производстве строительного и технологического оборудования

    section.main-catalog
      .container
        .main-catalog__inner
          .main-catalog__title.title Каталог
          .main-catalog__tabs.catalog-tabs
            .catalog-tabs__header
              button.catalog-tabs__btn.is--active
                .catalog-tabs__btn-text Бетонные заводы
              button.catalog-tabs__btn
                .catalog-tabs__btn-text Продукция
              button.catalog-tabs__btn
                .catalog-tabs__btn-text Комлектующие
            .catalog-tabs__content
              +big-card(
                "Мобильный бетонный завод Euromix Crocus",
                "Мобильный бетонный завод EUROMIX CROCUS 10.500, производительность до 10 м³/ч, весовая система дозирования цемента и инертных заполнителей",
                "images/main/catalog-1.jpg"
              )
              +big-card(
                "БЕТОННЫЕ ЗАВОДЫ СЕРИИ EUROMIX CROCUS COMPACT",
                "Мобильный бетонный завод EUROMIX CROCUS 10.500, производительность до 10 м³/ч, весовая система дозирования цемента и инертных заполнителей",
                "images/main/catalog-2.jpg"
              )
              +big-card(
                "БЕТОННЫЕ ЗАВОДЫ СЕРИИ EUROMIX CROCUS COMPACT",
                "Мобильный бетонный завод EUROMIX CROCUS 10.500, производительность до 10 м³/ч, весовая система дозирования цемента и инертных заполнителей",
                "images/main/catalog-3.jpg"
              )
              +big-card(
                "БЕТОННЫЕ ЗАВОДЫ СЕРИИ EUROMIX CROCUS COMPACT",
                "Мобильный бетонный завод EUROMIX CROCUS 10.500, производительность до 10 м³/ч, весовая система дозирования цемента и инертных заполнителей",
                "images/main/catalog-4.jpg"
              )
              +big-card(
                "БЕТОННЫЕ ЗАВОДЫ СЕРИИ EUROMIX CROCUS COMPACT",
                "Мобильный бетонный завод EUROMIX CROCUS 10.500, производительность до 10 м³/ч, весовая система дозирования цемента и инертных заполнителей",
                "images/main/catalog-5.jpg"
              )
              .catalog-tabs__content-more
                a.catalog-tabs__content-link(href="#") перейти в каталог
                  img.catalog-tabs__content-icon(src="images/icons/arrow-right-orange.svg" alt="")

    section.section-advantages.section-black
      .container
        .section-advantages__inner
          ul.section-advantages__list
            li.section-advantages__item
              .section-advantages__block
                img.section-advantages__icon(src="images/icons/adv_1.svg" alt="")
              .section-advantages__block
                h3.section-advantages__text Сертификаты
                  br
                  | качества
            li.section-advantages__item
              .section-advantages__block
                img.section-advantages__icon(src="images/icons/adv_2.svg" alt="")
              .section-advantages__block
                h3.section-advantages__text Продукция в наличии на складе
            li.section-advantages__item
              .section-advantages__block
                img.section-advantages__icon(src="images/icons/adv_3.svg" alt="")
              .section-advantages__block
                h3.section-advantages__text Развернутая комплектация с ценами
            li.section-advantages__item
              .section-advantages__block
                img.section-advantages__icon(src="images/icons/adv_4.svg" alt="")
              .section-advantages__block
                h3.section-advantages__text Мобильная
                  br
                  | бригада пуско-наладки оборудования
            li.section-advantages__item
              .section-advantages__block
                img.section-advantages__icon(src="images/icons/adv_5.svg" alt="")
              .section-advantages__block
                h3.section-advantages__text Свой автопарк везем застрахованные грузы
    
    section.section-partners
      .container
        .section-partners__inner
          h2.section-partners__title.title наши партнеры
          .section-partners__slider.swiper-slider
            .swiper-wrapper
              .section-partners__slide.swiper-slide
                .section-partners__slide-left
                  img.section-partners__slide-icon(src="images/icons/article.svg" alt="")
                  p.section-partners__slide-text.
                    Мы работаем с лучшими партнерами В ассортименте нашего завода шесть типов бетонных заводов,
                    начиная от супермобильных бетонных заводов EUROMIX CROCUS серии 750,
                    бетонных заводов серии 30/800.4 COMPACT.
                .section-partners__slide-right
                  .section-partners__slide-block
                    img.section-partners__slide-img(src="images/icons/companies/1.png" alt="")
                    img.section-partners__slide-img(src="images/icons/companies/2.png" alt="")
                    img.section-partners__slide-img(src="images/icons/companies/3.png" alt="")
                    img.section-partners__slide-img(src="images/icons/companies/4.png" alt="")
                    img.section-partners__slide-img(src="images/icons/companies/5.png" alt="")
                    img.section-partners__slide-img(src="images/icons/companies/6.png" alt="")
                    img.section-partners__slide-img(src="images/icons/companies/7.png" alt="")
                    img.section-partners__slide-img(src="images/icons/companies/8.png" alt="")
            .section-partners__pagination
              button.section-partners__dot.is--active
              button.section-partners__dot
              button.section-partners__dot

    section.section-popular
      .container
        .section-popular__inner
          h2.section-popular__title.title популярные товары
          .section-popular__content
            +card(
              "В наличии",
              "Мобильный бетонный завод Euromix Crocus",
              "1 212 000",
              "images/main/card-1.jpg"
            )
            +card(
              "В наличии",
              "Мобильный бетонный завод Euromix Crocus",
              "1 212 000",
              "images/main/card-1.jpg"
            )
            +card(
              "В наличии",
              "Мобильный бетонный завод Euromix Crocus",
              "1 212 000",
              "images/main/card-1.jpg"
            )
            +card(
              "В наличии",
              "Мобильный бетонный завод Euromix Crocus",
              "1 212 000",
              "images/main/card-1.jpg"
            )

    section.section-choose.section-black
      .container
        .section-choose__inner
          .section-choose__content
            .section-choose__socialblock
              p.section-choose__phone 8-800-350-2008
              .section-choose__icons
                a.section-choose__link(href="#")
                  img.section-choose__icon(src="images/icons/whatsapp.svg" alt="")
                a.section-choose__link(href="#")
                  img.section-choose__icon(src="images/icons/telegram.svg" alt="")
            .section-choose__titleblock
              h2.section-choose__title надежное  партнерство
              p.section-choose__subtitle Производители выбирают нас
            .section-choose__infoblock
              ul.section-choose__list
                li.section-choose__item Качественное оборудование (комплектующие)
                li.section-choose__item Широкий ассортимент
                li.section-choose__item Доступный ценовой диапазон
                li.section-choose__item Прямые поставки
              .section-choose__authorblock
                p.section-choose__askme Спросите и я Вам отвечу
                p.section-choose__author Евгений Самсонов
                p.section-choose__prof Менедженр Проектов
                button.btn.btn-primary задать вопрос
          img.section-choose__image(src="images/main/partners-user.png" alt="")

    section.section-services
      .container
        .section-services__inner
          h2.section-services__title.title услуги и решения
          p.section-services__subtitle Компания полного цикла
          .section-services__tabs.services-tabs
            .services-tabs__header
              button.services-tabs__btn.is--active
                svg.services-tabs__btn-icon(width="31" height="34" viewBox="0 0 31 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(id="Vector" d="M14.1273 0.176135C14.0022 0.295292 13.9536 0.421659 13.9536 0.611211C13.9536 0.877683 13.9536 0.877684 13.5646 0.969026C12.6616 1.18639 11.439 1.83884 10.675 2.51944C9.21637 3.80338 8.35482 5.44479 8.1464 7.34615C8.10458 7.77402 8.09097 7.79531 7.68807 8.14591C7.19507 8.58099 7.12537 8.72109 7.26443 9.05074C7.56295 9.78732 8.75091 10.4679 10.4111 10.8467C11.7936 11.1623 12.8979 11.2536 15.2388 11.2536C17.4964 11.2536 18.5242 11.1695 19.8927 10.8817C21.5597 10.5239 22.9908 9.78732 23.2546 9.12766C23.4144 8.74169 23.3379 8.55935 22.831 8.17338C22.574 7.98383 22.3516 7.75959 22.3309 7.68233C22.3169 7.60507 22.2683 7.26854 22.2268 6.93854C22.1435 6.2861 21.8657 5.38126 21.5601 4.77071C21.0946 3.83051 20.1987 2.77114 19.3025 2.09775C18.7884 1.71178 17.6494 1.15755 17.066 1.00336L16.5937 0.884207V0.610525C16.5937 0.420973 16.5451 0.294948 16.42 0.175447C16.2602 0.00718498 16.2187 -2.57492e-05 15.2738 -2.57492e-05C14.329 0.000660896 14.2871 0.00787258 14.1273 0.176135Z" fill="")
                  path(id="Vector_2" d="M8.38305 11.415C8.06345 11.7869 8.01483 11.9974 8.01483 13.0496C8.02163 14.0039 8.03557 14.1021 8.23719 14.6773C8.50103 15.4489 8.93861 16.2208 9.45269 16.8379C9.72367 17.1607 9.89707 17.4481 9.99465 17.7499C10.8491 20.3175 13.0234 22.1134 15.2738 22.1134C17.5243 22.1134 19.6986 20.3175 20.5459 17.7637C20.6431 17.469 20.8376 17.1535 21.1365 16.7747C21.6852 16.0941 22.0395 15.4557 22.3173 14.6701C22.5186 14.1017 22.5325 14.0035 22.5325 13.0496C22.5325 12.0956 22.5257 12.0112 22.3588 11.7238C22.0878 11.2396 22.0602 11.2327 21.1293 11.5273C19.4412 12.0675 17.6283 12.2426 14.447 12.1866C11.849 12.1444 10.6264 11.9761 9.13309 11.4641C8.55645 11.2605 8.51497 11.2605 8.38305 11.415Z" fill="")
                  path(id="Vector_3" d="M8.84815 20.5142C4.93067 22.1065 3.61759 22.8221 2.60337 23.9237C1.20733 25.446 0.220646 27.9998 0.0193655 30.6024C-0.0153145 31.1006 -0.00851439 31.2479 0.0819256 31.3812C0.283546 31.6899 2.28377 32.3633 4.08985 32.7211C9.98035 33.9068 19.4548 33.97 25.7271 32.8615C27.3662 32.5669 29.0197 32.1109 30.0964 31.6408C30.5619 31.4443 30.5966 31.3252 30.4922 30.2727C30.263 27.8525 29.2628 25.3687 27.9568 23.9378C26.8664 22.7521 25.5187 22.0365 20.7468 20.1286L20.4204 20.0022L20.3374 20.4016C20.1916 21.1381 19.5109 23.5587 19.1566 24.639C18.4202 26.856 17.4202 29.087 16.1765 31.2898C15.4751 32.5247 15.3221 32.6648 15.0164 32.321C14.5717 31.8368 12.7241 28.2168 12.0989 26.6245C11.4529 24.9549 10.779 22.794 10.3346 20.928C10.2166 20.4369 10.1123 20.0231 10.1055 20.0159C10.1055 20.0159 9.53597 20.2333 8.84815 20.5142Z" fill="")
                  path(id="Vector_4" d="M13.8428 23.3195C13.7802 23.4809 14.2038 25.4738 14.3082 25.5439C14.3636 25.5789 14.7944 25.6071 15.2738 25.6071C15.7532 25.6071 16.1837 25.5789 16.2394 25.5439C16.3435 25.4738 16.7674 23.4809 16.7049 23.3195C16.6488 23.1722 13.8982 23.1722 13.8428 23.3195Z" fill="")
                  path(id="Vector_5" d="M14.2664 26.1826C14.1899 26.4 13.8149 28.1327 13.8149 28.28C13.8149 28.4905 15.1623 31.0721 15.2735 31.0793C15.3153 31.0793 15.5098 30.7356 16.1905 29.4657C16.5376 28.8061 16.7324 28.3714 16.7253 28.2381C16.7253 28.119 16.6212 27.5998 16.5029 27.0806L16.2806 26.1335L15.2874 26.1125C14.5374 26.0985 14.2871 26.1125 14.2664 26.1826Z" fill="")
                .services-tabs__btn-text Шефмонтажные работы
              button.services-tabs__btn
                svg.services-tabs__btn-icon(width="41" height="42" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(id="Vector" d="M15.9966 0.531317C15.9461 0.582975 15.8125 1.2344 15.687 1.96352C15.5698 2.69222 15.4361 3.36128 15.4025 3.45536C15.3607 3.56666 15.1261 3.66956 14.5571 3.82412C14.1216 3.94424 13.703 4.04714 13.628 4.05554C13.5526 4.05554 13.1175 3.6011 12.6153 2.9921C12.1381 2.40032 11.6776 1.8686 11.6026 1.80896C11.4853 1.70606 11.293 1.79173 10.1627 2.45197C9.45132 2.86357 8.84863 3.26678 8.8232 3.34364C8.79819 3.42092 9.0073 4.12399 9.28364 4.90436L9.78589 6.31934L9.09914 7.01402L8.40419 7.71709L7.00609 7.2026C6.2275 6.91952 5.54977 6.70532 5.49934 6.72254C5.44071 6.74816 5.05572 7.36555 4.65392 8.08586C4.13486 9.00356 3.93396 9.44918 3.98439 9.53486C4.01801 9.60332 4.55347 10.0922 5.16478 10.6239C6.002 11.3442 6.26973 11.6185 6.22791 11.7302C6.19429 11.8075 6.08564 12.2103 5.98519 12.6219C5.87654 13.0335 5.75928 13.4106 5.71746 13.4451C5.67564 13.4795 5.02251 13.6164 4.26114 13.7538C3.49936 13.8823 2.82983 14.028 2.7794 14.0709C2.69576 14.1393 2.67075 14.5681 2.67075 15.6828C2.67075 16.7975 2.69576 17.2263 2.7794 17.2948C2.82983 17.3376 3.49075 17.4922 4.24433 17.6207C4.99791 17.758 5.65063 17.8866 5.69245 17.921C5.75928 17.9554 6.01881 18.8127 6.23652 19.7131C6.25333 19.7904 5.85153 20.1848 5.13977 20.785C4.52026 21.3003 3.99259 21.7804 3.96758 21.8488C3.90895 22.003 5.34026 24.5843 5.51615 24.6444C5.59159 24.67 6.37838 24.4129 7.27423 24.0786C8.88963 23.4784 9.8191 23.2298 10.4636 23.2298C10.74 23.2298 10.8068 23.1954 10.8736 23.0068C10.924 22.8867 10.9573 22.7409 10.9573 22.6725C10.9573 22.6124 10.5637 22.218 10.0782 21.8148C9.12374 21.0004 8.86462 20.6056 8.86462 19.9882C8.86462 19.491 9.00688 19.1734 9.83549 17.8618L10.5555 16.7215L10.5805 15.5812C10.6141 14.0293 10.9322 12.923 11.6854 11.7655C13.3344 9.2186 16.3816 7.9838 19.236 8.70409C19.8891 8.86705 20.9941 9.38156 21.5463 9.76754L21.9399 10.0418L23.3798 10.0246C25.2966 9.99014 25.2216 9.98174 25.6066 10.3333C26.0334 10.7277 26.2511 11.3367 26.3683 12.4513C26.4688 13.3774 26.5192 13.4976 26.7869 13.566C26.921 13.6005 27.0465 13.5148 27.3146 13.2145C28.2019 12.1939 28.5786 11.8167 29.7672 10.7877C30.4704 10.1787 31.0813 9.61298 31.1235 9.5273C31.1821 9.40718 31.0481 9.1073 30.504 8.14676C30.1272 7.4777 29.759 6.86912 29.6922 6.79184C29.5749 6.68054 29.4077 6.72338 28.1354 7.19504L26.7123 7.72676L26.026 7.02368L25.3478 6.31178L25.8583 4.86278C26.2433 3.75649 26.3437 3.37934 26.2769 3.28484C26.076 3.0446 23.682 1.6985 23.573 1.76696C23.5061 1.8014 23.0371 2.3327 22.5348 2.9501C22.0326 3.5591 21.564 4.05638 21.4971 4.05638C21.179 4.02193 19.8649 3.63638 19.7813 3.5591C19.7308 3.50743 19.5886 2.84719 19.4549 2.09287C19.3295 1.33813 19.1954 0.652275 19.1536 0.566595C19.0781 0.438076 18.919 0.420856 17.58 0.420856C16.482 0.420017 16.0634 0.445637 15.9966 0.531317Z" fill="")
                  path(id="Vector_2" d="M21.8563 11.156C21.8145 11.2161 21.6722 11.902 21.5467 12.6823C21.4127 13.4627 21.279 14.1313 21.2454 14.1742C21.2118 14.217 20.8436 14.3371 20.4418 14.4484C20.04 14.5513 19.6464 14.6626 19.5714 14.6971C19.4627 14.7399 19.1946 14.4656 18.4914 13.608C17.9724 12.9822 17.4951 12.4333 17.4283 12.3988C17.3028 12.3215 14.758 13.7621 14.6825 13.9507C14.6657 14.0108 14.8752 14.7055 15.1511 15.4942L15.6534 16.9348L14.9671 17.6379L14.2807 18.341L12.8826 17.8265C12.1126 17.5434 11.4345 17.3292 11.3677 17.3548C11.3008 17.3804 10.924 17.9894 10.5222 18.7009C9.96998 19.7043 9.8191 20.0386 9.87773 20.1587C9.91955 20.236 10.4468 20.7245 11.0413 21.2306C11.9035 21.9681 12.1212 22.1911 12.0876 22.328C11.8281 23.3999 11.6272 24.0345 11.5349 24.0857C11.4681 24.1202 10.815 24.2571 10.0786 24.386C9.34186 24.5146 8.68914 24.6603 8.63871 24.7031C8.55507 24.7716 8.53006 25.2004 8.53006 26.3239C8.53006 27.7045 8.54687 27.859 8.68053 27.9359C8.76417 27.9787 9.40869 28.1161 10.1204 28.2446C10.8318 28.3647 11.4681 28.4932 11.5349 28.5277C11.6272 28.5793 11.8531 29.3164 12.0876 30.3026C12.1126 30.4399 11.8949 30.6713 10.9995 31.4173C10.38 31.9318 9.86092 32.4118 9.82771 32.4807C9.78589 32.592 11.1254 35.0532 11.3345 35.2334C11.4267 35.3107 11.7613 35.2162 12.8662 34.8046L14.2893 34.2728L14.9675 34.9847L15.6538 35.6966L15.1434 37.1456C14.7584 38.2519 14.6579 38.6207 14.7334 38.7148C14.7838 38.7748 15.3861 39.1608 16.0642 39.5636C16.9096 40.0609 17.3533 40.2839 17.4287 40.2322C17.4955 40.1978 17.9478 39.6749 18.4332 39.0747C18.9272 38.4833 19.3541 37.9688 19.3959 37.9516C19.4627 37.9088 20.9362 38.2775 21.1704 38.3977C21.254 38.4405 21.3631 38.9033 21.5221 39.8294C21.6476 40.5754 21.7899 41.2784 21.8403 41.3818C21.9157 41.5787 21.9489 41.5787 23.4225 41.5787C24.5188 41.5787 24.9374 41.5531 25.0047 41.4758C25.0465 41.4158 25.1888 40.7639 25.306 40.0352C25.4315 39.3065 25.5574 38.6375 25.5906 38.543C25.641 38.4317 25.8669 38.3288 26.4024 38.183C26.821 38.0713 27.231 37.9688 27.3232 37.9428C27.4573 37.9 27.6664 38.1142 28.3946 39.0062C28.8886 39.6152 29.3659 40.1554 29.4409 40.1982C29.5581 40.2583 29.8763 40.1125 30.864 39.538C31.5589 39.1264 32.153 38.7404 32.1784 38.6719C32.2035 38.6035 31.9944 37.9004 31.718 37.12L31.2076 35.6878L31.8939 34.9847L32.5802 34.2817L33.9866 34.7962C34.7651 35.0876 35.4433 35.2934 35.5019 35.2762C35.6946 35.1989 37.0923 32.6008 37.0169 32.4635C36.9837 32.395 36.4478 31.9061 35.8365 31.3744C34.991 30.6541 34.7315 30.3799 34.7733 30.277C34.807 30.1913 34.9156 29.7881 35.0161 29.3765C35.1247 28.9649 35.242 28.5877 35.2838 28.5533C35.3256 28.5188 35.9787 28.3819 36.7405 28.2446C37.5023 28.1161 38.1718 27.9703 38.2305 27.9275C38.3059 27.859 38.3309 27.4302 38.3309 26.3155C38.3309 25.2008 38.3059 24.772 38.2305 24.7036C38.1718 24.6607 37.5105 24.5062 36.7573 24.3776C36.0037 24.2403 35.351 24.1118 35.3092 24.0778C35.2424 24.0433 34.9828 23.1861 34.7651 22.2856C34.7483 22.2083 35.1501 21.814 35.8615 21.2138C36.481 20.6909 37.0082 20.2192 37.0333 20.1503C37.0919 20.0046 35.6606 17.4233 35.4929 17.3548C35.4261 17.3292 34.7479 17.5434 33.9779 17.8265L32.5884 18.3494L31.9021 17.6375L31.2072 16.9344L31.7176 15.511C31.9939 14.7223 32.203 14.0276 32.178 13.9591C32.1112 13.7789 29.5914 12.3211 29.4491 12.3812C29.3822 12.4068 28.9214 12.9473 28.411 13.5815C27.6742 14.5076 27.4565 14.7218 27.3228 14.6878C25.8161 14.2934 25.6488 14.2334 25.5984 14.0876C25.5647 13.9931 25.4311 13.3245 25.3138 12.5958C25.1884 11.8671 25.0543 11.2153 25.0043 11.1636C24.878 11.0103 21.9817 11.0103 21.8563 11.156ZM24.518 19.2079C25.2966 19.3364 26.2257 19.6707 26.9456 20.0827C27.791 20.5716 29.0383 21.8404 29.5155 22.7153C30.8295 25.1164 30.7545 27.9287 29.3146 30.2098C26.7447 34.2829 21.0527 34.6172 18.0224 30.8784C17.4865 30.2098 16.817 28.8548 16.5993 27.9888C16.4152 27.2601 16.3984 25.5704 16.5574 24.8161C17.1265 22.1752 19.1774 19.997 21.714 19.3452C22.6263 19.105 23.6222 19.0533 24.518 19.2079Z" fill="")
                  path(id="Vector_3" d="M23.1117 20.194C23.0531 20.2197 22.8104 20.4599 22.5676 20.7169C22.0986 21.223 21.0441 21.9774 20.3746 22.2861C20.1486 22.389 19.621 22.5607 19.2028 22.6632L18.4496 22.8606L18.1401 23.4952C17.6956 24.3873 17.4865 25.3046 17.4865 26.3164C17.4865 27.6369 17.7042 28.4685 18.3069 29.4634C18.6251 29.9952 19.1441 30.6466 19.2028 30.5869C19.2196 30.5697 19.3368 29.9779 19.4541 29.2749C19.5714 28.5634 19.6968 27.9372 19.7304 27.8687C19.7641 27.8086 20.1322 27.6713 20.5422 27.56C20.9609 27.4487 21.354 27.337 21.4295 27.303C21.5385 27.2601 21.8063 27.5344 22.5094 28.392C23.0285 29.0178 23.4971 29.5668 23.5639 29.6012C23.698 29.6785 26.2425 28.2463 26.3179 28.0493C26.3347 27.9976 26.1252 27.2946 25.8493 26.5058L25.347 25.0652L26.0252 24.3621L26.7033 23.659L27.7246 24.0362C28.2855 24.242 28.8464 24.4562 28.9718 24.5079L29.206 24.5935L29.0387 24.1647C28.7541 23.3844 28.3437 22.7754 27.5655 21.9782C26.912 21.3003 26.6943 21.1374 26.0166 20.8026C25.5811 20.5884 25.0539 20.3738 24.8362 20.3226C24.3507 20.2024 23.2622 20.1252 23.1117 20.194Z" fill="")
                .services-tabs__btn-text Пусконалодочные работы
              button.services-tabs__btn
                svg.services-tabs__btn-icon(width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(id="Vector" d="M1.3431 26.455V29.3003C1.3431 29.3003 1.2432 34.6727 6.2937 36.593V23.1731C6.2937 23.1953 2.7861 25.0342 1.3431 26.455ZM8.7616 22.4849V30.9505H17.0792C17.0792 30.9505 17.0792 24.4496 21.5932 22.4849C21.5932 22.4849 19.8172 22.0483 19.7136 21.9632C19.7136 21.9632 18.3335 23.4876 15.4068 23.532C15.4068 23.532 13.4421 23.6578 11.1 21.9632C11.1037 21.9595 9.0317 22.2555 8.7616 22.4849ZM9.0576 16.3799C9.0576 16.3799 10.3526 22.089 15.2033 22.1297C15.2033 22.1297 19.2141 22.5885 21.2195 16.3799C21.2195 16.3799 22.4516 16.5057 22.4516 14.3338C22.4516 14.3338 22.829 12.4542 20.6534 12.9722C20.6534 12.9722 19.5878 13.4754 14.8444 13.4939C14.8444 13.4939 11.8141 13.6012 9.768 13.0314C9.768 13.0314 8.0586 12.5504 7.7811 13.5938V15.0146C7.7811 15.0442 7.8625 16.3392 9.0576 16.3799ZM6.1531 10.0492C6.1531 10.0492 6.5083 12.1397 14.3042 12.3913C14.3042 12.3913 20.1539 12.5985 22.3924 11.2184L21.8078 5.34279C21.8078 5.34279 20.1983 2.0017 15.9803 1.2913V0.369995H14.1784L14.1599 1.3098C14.1599 1.3098 11.174 1.49849 8.8726 4.52879C8.8726 4.52879 7.5998 5.65729 7.2002 9.19079L6.1531 10.0492ZM23.8724 36.6115V29.0709C23.8724 29.0709 24.0389 28.6528 24.5236 28.6343H30.4732C30.4732 28.6343 30.8691 28.7194 30.9542 29.1375V36.6152H31.4352C31.4352 36.6152 36.3266 33.7921 35.5718 28.6343C35.5718 28.6343 34.9687 24.1203 29.9515 22.385L31.3797 5.80899C31.3797 5.80899 31.5277 1.96469 27.3467 1.71309C27.3467 1.71309 23.6911 1.61319 23.3359 5.80899L26.2404 5.32799L27.3874 4.22169L28.7675 5.62399L27.4059 7.00409L26.0258 5.62399L26.4217 5.22809L23.3914 5.66099L25.0009 22.1704C25.0009 22.1704 19.4213 24.1573 19.1512 29.8183C19.1512 29.8183 18.8552 33.6219 23.4358 36.6337L23.8724 36.6115Z" fill="")
                .services-tabs__btn-text Монтажные работы
              button.services-tabs__btn
                svg.services-tabs__btn-icon(width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(id="Vector" d="M6.4778 0.449406C6.19185 0.570858 0.600251 6.10541 0.428751 6.44141C0.364351 6.54851 0.335651 6.71301 0.357351 6.79876C0.414401 7.01331 28.0791 34.6563 28.2363 34.6563C28.3077 34.6563 28.4508 34.6136 28.5579 34.5562C28.665 34.4992 30.0311 33.1692 31.5896 31.6033C34.3997 28.7861 34.65 28.4928 34.65 28.0637C34.65 27.5202 34.7788 27.649 20.95 13.8418C9.2379 2.15111 7.5502 0.492107 7.29295 0.420708C6.9139 0.31361 6.7851 0.313606 6.4778 0.449406ZM20.278 14.7427L33.4702 27.9349L30.9176 30.4875L28.3577 33.0474L27.664 32.354L26.9633 31.6533L27.7498 30.8669L28.5362 30.0804L28.1215 29.673L27.7137 29.2583L26.9273 30.0447L26.1408 30.8312L25.4471 30.1305L24.7464 29.4368L25.5329 28.6503L26.32 27.8635L25.8909 27.4344L25.4618 27.0053L24.6754 27.7918L23.8889 28.5782L23.1882 27.8775L22.4945 27.1845L23.281 26.3981L24.0674 25.6116L23.66 25.2039L23.2453 24.7891L22.4588 25.5756L21.672 26.362L20.9713 25.6613L20.2776 24.9676L21.0641 24.1812L21.8505 23.3947L21.4428 22.987L21.028 22.5722L20.2419 23.359L19.4555 24.1455L18.7548 23.4448L18.0611 22.7511L18.8475 21.9646L19.634 21.1782L19.2262 20.7708L18.8115 20.356L18.025 21.1425L17.2386 21.9289L16.5235 21.2139L15.8085 20.4988L16.5949 19.7124L17.3814 18.9259L16.9666 18.5182L16.5596 18.1034L15.7731 18.8899L14.9867 19.6763L14.293 18.9756L13.5923 18.2819L14.3787 17.4955L15.1655 16.709L14.7508 16.3013L14.343 15.8869L13.5566 16.6733L12.7701 17.4598L12.0764 16.7591L11.3757 16.0654L12.1622 15.2789L12.9486 14.4925L12.5339 14.0847L12.1261 13.67L11.34 14.4568L10.5536 15.2432L9.85985 14.5425L9.15915 13.8488L9.9456 13.0624L10.7321 12.2759L10.303 11.8468L9.87385 11.4177L9.08775 12.2045L8.3013 12.991L7.6006 12.2903L6.9069 11.5966L7.69335 10.8101L8.4798 10.0237L8.07205 9.61591L7.6573 9.20116L6.87085 9.98761L6.0844 10.7741L4.011 8.70066L1.93725 6.62691L4.47545 4.08871C5.86985 2.69431 7.028 1.55051 7.0497 1.55051C7.07105 1.55051 13.0204 7.48511 20.278 14.7427Z" fill="")
                  path(id="Vector_2" d="M6.65665 3.48111C6.3133 3.65261 6.1418 3.87451 6.06305 4.24621C5.9486 4.77541 6.16315 5.26156 6.62795 5.50481C6.9426 5.67631 7.5502 5.64061 7.82215 5.43341C8.5085 4.91856 8.4301 3.85316 7.665 3.48846C7.2856 3.30226 7.021 3.30226 6.65665 3.48111Z" fill="")
                  path(id="Vector_3" d="M28.4648 0.470734C28.3073 0.542133 27.8285 0.964234 27.3924 1.40033L26.606 2.19413L29.7021 5.28323L32.7908 8.37933L33.613 7.55718C34.5783 6.59188 34.7284 6.32028 34.5853 5.77673C34.5065 5.47643 34.285 5.22618 32.1255 3.06668C30.8172 1.75803 29.6657 0.621233 29.5586 0.542483C29.273 0.334933 28.8082 0.299233 28.4648 0.470734Z" fill="")
                  path(id="Vector_4" d="M21.9366 6.86315L18.5616 10.2382L21.6577 13.3343L24.7468 16.4234L28.1432 13.027L31.5396 9.6306L28.4648 6.55585C26.7775 4.8685 25.3757 3.4811 25.3544 3.4811C25.333 3.4811 23.7958 5.00395 21.9366 6.86315Z" fill="")
                  path(id="Vector_5" d="M6.69235 22.1078L2.93825 25.8615L6.03435 28.9503L9.12345 32.0464L12.8915 28.2783L16.667 24.5028L13.5922 21.4281C11.9049 19.7407 10.5031 18.3533 10.4818 18.3533C10.4604 18.3533 8.75875 20.0414 6.69235 22.1078Z" fill="")
                  path(id="Vector_6" d="M2.3807 26.5552C2.35935 26.5839 1.8872 28.3143 1.32965 30.4021C0.249901 34.4418 0.256901 34.4204 0.635951 34.5919C0.764751 34.6493 1.50815 34.4775 4.5829 33.6483C6.67065 33.0978 8.39405 32.6186 8.42975 32.5899C8.45845 32.5612 7.2212 31.2673 5.677 29.7227C2.5879 26.6266 2.43075 26.4765 2.3807 26.5552Z" fill="")
                  defs
                    clipPath(id="clip0_23_129")
                      rect(width="35" height="35" fill="white")
                .services-tabs__btn-text Инженеринг и проектирование

            .services-tabs__article-wrapper
              .services-tabs__article
                img.services-tabs__article-icon(src="images/icons/article.svg" alt="")
                p.services-tabs__article-text.
                  Шеф-монтаж – это комплекс работ по установке и пусконаладке оборудования, который выполняется
                  специалистами подрядной организации, предприятия заказчика или собственной фирмы-поставщика под
                  наблюдением специалиста (инженера) поставщика и его организационно-техническим руководством
            .services-tabs__content
              ul.services-tabs__list
                li.services-tabs__item
                  +small-card("В Москву отправлен бетоносмеситель EUROMIX 600.200.", "images/main/services-1.jpg")
                li.services-tabs__item
                  +small-card("В Москву отправлен бетоносмеситель EUROMIX 600.200.", "images/main/services-1.jpg")
                li.services-tabs__item
                  +small-card("В Москву отправлен бетоносмеситель EUROMIX 600.200.", "images/main/services-1.jpg")
                li.services-tabs__item
                  +small-card("В Москву отправлен бетоносмеситель EUROMIX 600.200.", "images/main/services-1.jpg")

            .services-tabs__footer
              button.btn.btn-sm.btn-primary все проекты

    section.section-job.section-black
      .container
        .section-job__inner
          h2.section-job__title.title Выполненные проекты
          .services-tabs__article-wrapper
            .services-tabs__article
              img.services-tabs__article-icon(src="images/icons/article.svg" alt="")
              p.services-tabs__article-text.section-job__text.
                «ЗАВОД EUROMIX» производитель бетонных заводов EUROMIX CROCUS - это предприятие,
                имеющее большой опыт в производстве строительного и технологического оборудования.
                Наш завод производит и поставляет супермобильные, мобильные, стационарные бетонные заводы
                EUROMIX CROCUS, бетоносмесители серии EUROMIX, растворо- бетонные узлы (РБУ) бетоносмесительные
                установки (БСУ), а также отдельные комплектующие бетонных заводов, системы рециклинга бетона,
                тепловые центры для бетонных заводов зимнего исполнения.
                Предприятие осуществляет продажу бетонных заводов EUROMIX CROCUS с доставкой по России,
                СНГ и странам дальнего зарубежья

          ul.section-job__list
            li.section-job__item
              +job-card(
                "В город Хабаровск произведена отгрузка бетоносмесителя EUROMIX 600.300М.",
                "23 ноя",
                2022,
                "images/main/completed-works-1.jpg"
              )
            li.section-job__item
              +job-card(
                "В город Хабаровск произведена отгрузка бетоносмесителя EUROMIX 600.300М.",
                "23 ноя",
                2022,
                "images/main/completed-works-1.jpg"
              )
          .section-job__btn
              button.btn.btn-sm.btn-primary все проекты


  include pug/includes/footer.pug
