extends pug/base.pug

append content
  include pug/includes/header.pug

  main.main(id="main")

    .container
      +breadcrumbs("Главная", "Каталог", "МОБИЛЬНЫЙ БЕТОННЫЙ ЗАВОД EUROMIX CROCUS (КРОКУС) 30/750.4 COMPACT 1")

    section.product
      .container
        .product__inner
          .product-slider(data-product-slider)
            .product-slider__main(data-product-slider-main)
              img(src="images/card/main-card.jpg" alt="")
            ul.product-slider__items
              li.product-slider__item(data-product-slider-thumb)
                img(src="images/card/thumb.jpg" alt="")
              li.product-slider__item
                img(src="images/card/thumb.jpg" alt="")
              li.product-slider__item
                img(src="images/card/thumb.jpg" alt="")
              li.product-slider__item
                img(src="images/card/thumb.jpg" alt="")

            .product-slider__btns
              .product-slider__btn.product-slider__btn--left.product-slider__btn--disabled(data-product-slider-btn)
                svg(width="18" height="18" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(id="Vector" d="M9.685 3.43591C9.972 3.14891 9.972 2.68291 9.685 2.39591C9.398 2.10891 8.932 2.10891 8.645 2.39591L5.449 5.59091C5.32 5.69091 5.162 5.74691 4.997 5.74691C4.832 5.74691 4.673 5.69091 4.545 5.59091L1.356 2.40191C1.069 2.11491 0.603 2.11491 0.316 2.40191C0.029 2.68891 0.029 3.15491 0.316 3.44191L4.477 7.60291C4.615 7.74091 4.802 7.81791 4.997 7.81791C5.192 7.81791 5.379 7.74091 5.517 7.60291L9.685 3.43591Z" fill="")
              .product-slider__btn.product-slider__btn--right(data-product-slider-btn)
                svg(width="18" height="18" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(id="Vector" d="M9.685 3.43591C9.972 3.14891 9.972 2.68291 9.685 2.39591C9.398 2.10891 8.932 2.10891 8.645 2.39591L5.449 5.59091C5.32 5.69091 5.162 5.74691 4.997 5.74691C4.832 5.74691 4.673 5.69091 4.545 5.59091L1.356 2.40191C1.069 2.11491 0.603 2.11491 0.316 2.40191C0.029 2.68891 0.029 3.15491 0.316 3.44191L4.477 7.60291C4.615 7.74091 4.802 7.81791 4.997 7.81791C5.192 7.81791 5.379 7.74091 5.517 7.60291L9.685 3.43591Z" fill="")

          .product-content
            h1.product-content__title Мобильный бетонный завод Euromix Crocus (Крокус) 30/750.4 Compact 1
            .product-content__info
              .product-content__left
                .product-content__order
                  svg(width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                    g(clip-path="url(#clip0_28_604)")
                      path(d="M8.99999 0.180786C4.12919 0.180786 0.179993 4.14091 0.179993 9.02519C0.179993 13.9095 4.12919 17.8696 8.99999 17.8696C13.8708 17.8696 17.82 13.9095 17.82 9.02519C17.82 4.14091 13.8708 0.180786 8.99999 0.180786ZM14.823 6.72023L8.51219 12.8987C8.48159 12.9294 8.44739 12.9528 8.41319 12.9781C8.36819 13.072 8.30879 13.1622 8.23139 13.2416C7.88759 13.5864 7.34579 13.6044 7.02359 13.2813L3.22919 9.47824C2.90699 9.15515 2.92499 8.61366 3.26879 8.2671C3.61259 7.92235 4.15439 7.9043 4.47659 8.22559L7.57979 11.3392L13.59 5.45494C13.9392 5.1138 14.4972 5.12102 14.8374 5.46938C15.1776 5.81955 15.1722 6.37909 14.823 6.72023Z" fill="#00BD1E")
                    defs
                      clipPath(id="clip0_28_604")
                        rect(width="18" height="18.0498" fill="white")
                  p Под заказ
                .product-content__price От&nbsp;
                  span 32 858&nbsp;
                  | Руб
                .product-content__season.season
                  .season-title Сезонное исполнение:
                  .season-block
                    svg.seasin-icon(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                      g(id="Group")
                        path(id="Vector" d="M19.5048 11.7853H18.2175C17.5077 11.7853 16.9323 11.2099 16.9323 10.498C16.9323 9.78821 17.5098 9.21071 18.2175 9.21071H19.5048C20.2167 9.21071 20.79 9.78821 20.79 10.498C20.79 11.2099 20.2146 11.7853 19.5048 11.7853ZM16.8672 5.95151C16.3653 6.45341 15.5505 6.45341 15.0486 5.95151C14.5467 5.44961 14.5467 4.63481 15.0486 4.13291L15.9579 3.22361C16.3338 2.84771 16.8861 2.75321 17.3502 2.94221C17.5056 3.00521 17.6505 3.09971 17.7765 3.22361C17.9025 3.34961 17.997 3.49451 18.06 3.64991C18.249 4.11401 18.1545 4.66631 17.7765 5.04431L16.8672 5.95151ZM10.5 15.6451C7.65866 15.6451 5.35496 13.3414 5.35496 10.5001C5.35496 7.65881 7.65866 5.35511 10.5 5.35511C13.3413 5.35511 15.645 7.65881 15.645 10.5001C15.645 13.3414 13.3413 15.6451 10.5 15.6451ZM10.5 7.92761C9.07826 7.92761 7.92746 9.07841 7.92746 10.5001C7.92746 11.9218 9.07826 13.0726 10.5 13.0726C11.9217 13.0726 13.0725 11.9218 13.0725 10.5001C13.0725 9.07841 11.9217 7.92761 10.5 7.92761ZM10.5 4.06781C9.79016 4.06781 9.21266 3.49241 9.21266 2.78051V1.49531C9.21266 0.783408 9.79016 0.208008 10.5 0.208008C11.2119 0.208008 11.7852 0.783408 11.7852 1.49531V2.78051C11.7852 3.49241 11.2119 4.06781 10.5 4.06781ZM4.13486 5.95151L3.22556 5.04221C2.72366 4.54031 2.72366 3.72551 3.22556 3.22361C3.72746 2.72171 4.54226 2.72171 5.04416 3.22361L5.95346 4.13291C6.45536 4.63481 6.45536 5.44961 5.95346 5.95151C5.44946 6.45551 4.63676 6.45551 4.13486 5.95151ZM4.06976 10.5001C4.06976 11.212 3.49436 11.7853 2.78246 11.7853H1.49726C0.787461 11.7853 0.209961 11.2099 0.209961 10.5001C0.209961 9.79031 0.787461 9.21281 1.49726 9.21281H2.78456C3.49436 9.21281 4.06976 9.79031 4.06976 10.5001ZM4.13486 15.0466C4.63676 14.5447 5.45156 14.5447 5.95346 15.0466C6.45536 15.5485 6.45536 16.3633 5.95346 16.8652L5.04416 17.7745C4.54226 18.2764 3.72746 18.2764 3.22556 17.7745C2.72366 17.2726 2.72366 16.4578 3.22556 15.9559L4.13486 15.0466ZM10.5 16.9303C11.2119 16.9303 11.7852 17.5057 11.7852 18.2155V19.5028C11.7852 20.2126 11.2098 20.7901 10.5 20.7901C9.79016 20.7901 9.21266 20.2126 9.21266 19.5028V18.2155C9.21476 17.5057 9.79016 16.9303 10.5 16.9303ZM16.8672 15.0466L17.7765 15.9559C18.2784 16.4578 18.2784 17.2726 17.7765 17.7745C17.2746 18.2764 16.4598 18.2764 15.9579 17.7745L15.0486 16.8652C14.5467 16.3633 14.5467 15.5485 15.0486 15.0466C15.5505 14.5447 16.3653 14.5447 16.8672 15.0466Z" fill="#FF9900")
                      defs
                        clipPath(id="clip0_60_2")
                          rect(width="21" height="21" fill="white")
                    .season-text Летнее
                  .season-block
                    svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(id="Vector" d="M9.98542 0.508902L9.53518 0.802902V1.75861V2.7097L8.87347 2.04799L8.21638 1.3909L7.64665 1.49191C7.33417 1.54714 7.0723 1.59754 7.06768 1.60216C7.06306 1.60678 7.01707 1.86403 6.96205 2.18113L6.86545 2.75086L8.1979 4.08331L9.53497 5.42038V7.1113V8.80243L9.31909 8.68294C9.19498 8.61868 8.54251 8.22808 7.85791 7.81921L6.61723 7.07476L6.15775 5.27359C5.9005 4.28113 5.67538 3.44953 5.65228 3.42643C5.61091 3.3943 4.64596 3.00833 4.59556 3.00833C4.57708 3.00833 3.91558 3.7849 3.86959 3.86302C3.85111 3.89515 3.93847 4.31326 4.06258 4.80025C4.23268 5.4481 4.27384 5.67322 4.22344 5.65495C4.19131 5.64109 3.82822 5.43445 3.41935 5.19085L2.67511 4.74986L2.50963 4.81873C2.41765 4.85548 2.1835 4.96111 1.98127 5.05771L1.61839 5.23222L1.65052 5.80657C1.669 6.12367 1.68727 6.38554 1.69189 6.39016C1.69651 6.39478 2.06401 6.61066 2.50522 6.86791C2.96932 7.14826 3.27718 7.3549 3.24043 7.36876C3.20368 7.378 2.79943 7.48825 2.34436 7.60312L1.51738 7.819L1.29688 8.36584L1.07638 8.91268L1.228 9.04141C1.31074 9.11491 1.51738 9.28501 1.68286 9.41815L1.98148 9.66616L3.76879 9.2113C4.75642 8.95867 5.58361 8.75182 5.62036 8.75182C5.69386 8.75182 8.57023 10.452 8.57023 10.4978C8.57023 10.5391 5.69386 12.2437 5.62036 12.2437C5.58823 12.2437 4.75663 12.0369 3.7732 11.7842L1.98589 11.325L1.68265 11.5776C1.51717 11.7109 1.31053 11.8808 1.22779 11.9543L1.07617 12.0831L1.29667 12.6299L1.51717 13.1814L2.38552 13.3972C2.86327 13.5213 3.25849 13.627 3.27235 13.6362C3.28159 13.6501 2.92774 13.8706 2.49115 14.1324L1.69189 14.6056L1.65976 14.9731C1.6459 15.1799 1.63225 15.4418 1.63225 15.5567V15.7681L2.1331 16.0025C2.40421 16.1358 2.63857 16.2415 2.65243 16.2415C2.66629 16.2415 3.02455 16.0346 3.4519 15.782C3.87925 15.5292 4.24213 15.3225 4.26061 15.3225C4.27447 15.3225 4.18711 15.7085 4.063 16.1818C3.93889 16.6596 3.83788 17.0594 3.83788 17.0779C3.83788 17.0964 4.00336 17.3076 4.21 17.5512C4.47649 17.8683 4.6006 17.9832 4.65562 17.9647C5.01409 17.8499 5.65732 17.5741 5.68483 17.5237C5.70331 17.487 5.91919 16.6737 6.16279 15.7133C6.40177 14.753 6.62227 13.9443 6.64516 13.9168C6.68191 13.8708 9.37915 12.2534 9.49843 12.2076C9.51691 12.1983 9.53518 12.952 9.53518 13.8846V15.5756L8.19811 16.9126L6.86566 18.2451L6.96226 18.8148C7.01749 19.1319 7.06327 19.3938 7.06789 19.3984C7.07251 19.403 7.33438 19.449 7.65148 19.504L8.22121 19.6004L8.8783 18.9433L9.53539 18.2862V19.2281V20.1699L9.99025 20.4824C10.2429 20.6525 10.4726 20.7903 10.5003 20.7903C10.5279 20.7903 10.7576 20.6525 11.0104 20.4824L11.4653 20.1699V19.2281V18.2862L12.1224 18.9433L12.7795 19.6004L13.3492 19.504C13.6663 19.4488 13.9282 19.403 13.9328 19.3984C13.9374 19.3938 13.9834 19.1319 14.0384 18.8148L14.1348 18.2451L12.8024 16.9126L11.4653 15.5756V13.8846C11.4653 12.9518 11.4838 12.1983 11.502 12.2076C11.5249 12.2122 12.182 12.6028 12.9632 13.0623L14.383 13.9077L14.8379 15.6951C15.0905 16.6783 15.3159 17.5147 15.3434 17.5468C15.3847 17.5974 15.6926 17.726 16.3404 17.9649C16.3911 17.9834 16.5152 17.873 16.7586 17.5882C16.9469 17.3677 17.1124 17.1609 17.1307 17.1333C17.1443 17.1058 17.0572 16.6831 16.9331 16.2005C16.7676 15.5434 16.7262 15.3229 16.7768 15.3414C16.8136 15.3553 17.1767 15.5619 17.5809 15.8055C17.9898 16.0445 18.339 16.2421 18.3621 16.2421C18.385 16.2421 18.6196 16.1319 18.8859 16.0031L19.3682 15.7597V15.5254C19.3682 15.3966 19.3546 15.1348 19.3407 14.9464L19.3086 14.6064L18.5091 14.1331C18.0725 13.8712 17.7187 13.6507 17.7279 13.6415C17.7372 13.6322 18.1368 13.522 18.6147 13.4025L19.4831 13.1774L19.7036 12.6305L19.9241 12.0837L19.7725 11.955C19.6897 11.8815 19.4829 11.7114 19.3176 11.5782L19.0144 11.3256L17.2178 11.7851C16.23 12.0377 15.403 12.2445 15.3753 12.2445C15.3018 12.2445 12.43 10.54 12.43 10.4986C12.43 10.4801 13.0871 10.0759 13.8912 9.59812L15.3478 8.73439L17.1857 9.19849L19.019 9.66721L19.3222 9.4192C19.4877 9.28144 19.6897 9.11596 19.7725 9.04246L19.9241 8.91373L19.7036 8.36689L19.4831 7.82005L18.6561 7.60417C18.2013 7.48468 17.797 7.37905 17.76 7.36519C17.7233 7.35595 18.0358 7.14469 18.4953 6.86896C18.9363 6.61171 19.304 6.39121 19.3086 6.39121C19.3132 6.38659 19.3315 6.12472 19.35 5.80762L19.3777 5.23789L18.8907 4.99429C18.6242 4.86556 18.3852 4.75531 18.3577 4.75531C18.3348 4.75531 17.9856 4.95292 17.5765 5.1919C17.1723 5.4355 16.8092 5.64214 16.777 5.656C16.7264 5.67427 16.7678 5.44915 16.9379 4.8013C17.062 4.31431 17.1494 3.8962 17.1309 3.86407C17.0757 3.77209 16.4232 3.00937 16.4003 3.00937C16.3453 3.00937 15.3896 3.39073 15.3482 3.42748C15.3253 3.45037 15.1 4.28218 14.8427 5.27464L14.3832 7.07581L13.1558 7.80997C12.4758 8.21422 11.8233 8.60482 11.6946 8.6737L11.4649 8.80243V7.11151V5.42059L12.8019 4.08352L14.1344 2.75107L14.038 2.18134C13.983 1.86424 13.937 1.60237 13.9278 1.59775C13.9231 1.58851 13.6613 1.54252 13.3488 1.49212L12.7791 1.39552L12.122 2.05261L11.4649 2.7097V1.75861V0.807526L11.0054 0.508902C10.7481 0.343422 10.5184 0.205664 10.4863 0.210283C10.4539 0.210283 10.2288 0.348042 9.98542 0.508902Z" fill="#6D90CD")
                    .season-text Зимнее
                .product-content__btn
                  button.btn.btn-primary.btn-lg.btn-radius-50.btn-fullwidth Запросить условия и сроки поставки

                .product-content__list
                  .product-content__item
                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(id="Vector" d="M10.7627 7.02908C10.7315 7.01348 10.7016 7.00568 10.6704 7.00568C10.6041 7.00568 10.5456 7.03168 10.4949 7.08238L10.0048 7.57248C9.9593 7.61798 9.9359 7.67518 9.9359 7.74148V9.68758C9.9359 10.0243 9.8163 10.3129 9.5758 10.5534C9.3353 10.7939 9.0467 10.9135 8.71 10.9135H2.3361C1.9994 10.9135 1.7108 10.7939 1.4703 10.5534C1.2298 10.3129 1.1102 10.0243 1.1102 9.68758V3.31238C1.1102 2.97568 1.2298 2.68708 1.4703 2.44658C1.7108 2.20608 1.9994 2.08648 2.3361 2.08648H8.71C8.8218 2.08648 8.9375 2.10208 9.0545 2.13198C9.0857 2.14238 9.1078 2.14758 9.1234 2.14758C9.1897 2.14758 9.24821 2.12158 9.3002 2.07088L9.6759 1.69518C9.737 1.63408 9.7604 1.55998 9.7448 1.47288C9.7292 1.39098 9.6837 1.33248 9.607 1.29608C9.3314 1.16868 9.0324 1.10498 8.7113 1.10498H2.3361C1.7277 1.10498 1.209 1.32078 0.777405 1.75238C0.345805 2.18528 0.130005 2.70528 0.130005 3.31368V9.68758C0.130005 10.2947 0.345805 10.8147 0.777405 11.2463C1.209 11.6779 1.729 11.8937 2.3361 11.8937H8.71C9.3171 11.8937 9.8371 11.6779 10.2687 11.2463C10.7003 10.8147 10.9161 10.2947 10.9161 9.68758V7.25008C10.9161 7.14348 10.8654 7.06938 10.7627 7.02908Z" fill="#FF6B00")
                      path(id="Vector_2" d="M12.6867 2.63117L11.843 1.78877C11.7208 1.66657 11.5752 1.60547 11.4062 1.60547C11.2372 1.60547 11.0916 1.66657 10.9694 1.78877L6.01379 6.74437L3.99879 4.72937C3.87659 4.60717 3.73099 4.54607 3.56199 4.54607C3.39299 4.54607 3.24739 4.60717 3.12519 4.72937L2.28279 5.57177C2.16059 5.69397 2.09949 5.83957 2.09949 6.00857C2.09949 6.17757 2.16059 6.32317 2.28279 6.44537L5.57699 9.74087C5.69919 9.86307 5.84479 9.92417 6.01379 9.92417C6.18279 9.92417 6.32839 9.86307 6.45059 9.74087L12.6867 3.50477C12.8089 3.38257 12.87 3.23697 12.87 3.06797C12.87 2.89897 12.8089 2.75337 12.6867 2.63117Z" fill="#FF6B00")
                    span Перезвоним в течение 15 минут
                  .product-content__item
                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(id="Vector" d="M10.7627 7.02908C10.7315 7.01348 10.7016 7.00568 10.6704 7.00568C10.6041 7.00568 10.5456 7.03168 10.4949 7.08238L10.0048 7.57248C9.9593 7.61798 9.9359 7.67518 9.9359 7.74148V9.68758C9.9359 10.0243 9.8163 10.3129 9.5758 10.5534C9.3353 10.7939 9.0467 10.9135 8.71 10.9135H2.3361C1.9994 10.9135 1.7108 10.7939 1.4703 10.5534C1.2298 10.3129 1.1102 10.0243 1.1102 9.68758V3.31238C1.1102 2.97568 1.2298 2.68708 1.4703 2.44658C1.7108 2.20608 1.9994 2.08648 2.3361 2.08648H8.71C8.8218 2.08648 8.9375 2.10208 9.0545 2.13198C9.0857 2.14238 9.1078 2.14758 9.1234 2.14758C9.1897 2.14758 9.24821 2.12158 9.3002 2.07088L9.6759 1.69518C9.737 1.63408 9.7604 1.55998 9.7448 1.47288C9.7292 1.39098 9.6837 1.33248 9.607 1.29608C9.3314 1.16868 9.0324 1.10498 8.7113 1.10498H2.3361C1.7277 1.10498 1.209 1.32078 0.777405 1.75238C0.345805 2.18528 0.130005 2.70528 0.130005 3.31368V9.68758C0.130005 10.2947 0.345805 10.8147 0.777405 11.2463C1.209 11.6779 1.729 11.8937 2.3361 11.8937H8.71C9.3171 11.8937 9.8371 11.6779 10.2687 11.2463C10.7003 10.8147 10.9161 10.2947 10.9161 9.68758V7.25008C10.9161 7.14348 10.8654 7.06938 10.7627 7.02908Z" fill="#FF6B00")
                      path(id="Vector_2" d="M12.6867 2.63117L11.843 1.78877C11.7208 1.66657 11.5752 1.60547 11.4062 1.60547C11.2372 1.60547 11.0916 1.66657 10.9694 1.78877L6.01379 6.74437L3.99879 4.72937C3.87659 4.60717 3.73099 4.54607 3.56199 4.54607C3.39299 4.54607 3.24739 4.60717 3.12519 4.72937L2.28279 5.57177C2.16059 5.69397 2.09949 5.83957 2.09949 6.00857C2.09949 6.17757 2.16059 6.32317 2.28279 6.44537L5.57699 9.74087C5.69919 9.86307 5.84479 9.92417 6.01379 9.92417C6.18279 9.92417 6.32839 9.86307 6.45059 9.74087L12.6867 3.50477C12.8089 3.38257 12.87 3.23697 12.87 3.06797C12.87 2.89897 12.8089 2.75337 12.6867 2.63117Z" fill="#FF6B00")
                    span Отправим цены и условия поставки
                  .product-content__item
                    svg(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(id="Vector" d="M10.7627 7.02908C10.7315 7.01348 10.7016 7.00568 10.6704 7.00568C10.6041 7.00568 10.5456 7.03168 10.4949 7.08238L10.0048 7.57248C9.9593 7.61798 9.9359 7.67518 9.9359 7.74148V9.68758C9.9359 10.0243 9.8163 10.3129 9.5758 10.5534C9.3353 10.7939 9.0467 10.9135 8.71 10.9135H2.3361C1.9994 10.9135 1.7108 10.7939 1.4703 10.5534C1.2298 10.3129 1.1102 10.0243 1.1102 9.68758V3.31238C1.1102 2.97568 1.2298 2.68708 1.4703 2.44658C1.7108 2.20608 1.9994 2.08648 2.3361 2.08648H8.71C8.8218 2.08648 8.9375 2.10208 9.0545 2.13198C9.0857 2.14238 9.1078 2.14758 9.1234 2.14758C9.1897 2.14758 9.24821 2.12158 9.3002 2.07088L9.6759 1.69518C9.737 1.63408 9.7604 1.55998 9.7448 1.47288C9.7292 1.39098 9.6837 1.33248 9.607 1.29608C9.3314 1.16868 9.0324 1.10498 8.7113 1.10498H2.3361C1.7277 1.10498 1.209 1.32078 0.777405 1.75238C0.345805 2.18528 0.130005 2.70528 0.130005 3.31368V9.68758C0.130005 10.2947 0.345805 10.8147 0.777405 11.2463C1.209 11.6779 1.729 11.8937 2.3361 11.8937H8.71C9.3171 11.8937 9.8371 11.6779 10.2687 11.2463C10.7003 10.8147 10.9161 10.2947 10.9161 9.68758V7.25008C10.9161 7.14348 10.8654 7.06938 10.7627 7.02908Z" fill="#FF6B00")
                      path(id="Vector_2" d="M12.6867 2.63117L11.843 1.78877C11.7208 1.66657 11.5752 1.60547 11.4062 1.60547C11.2372 1.60547 11.0916 1.66657 10.9694 1.78877L6.01379 6.74437L3.99879 4.72937C3.87659 4.60717 3.73099 4.54607 3.56199 4.54607C3.39299 4.54607 3.24739 4.60717 3.12519 4.72937L2.28279 5.57177C2.16059 5.69397 2.09949 5.83957 2.09949 6.00857C2.09949 6.17757 2.16059 6.32317 2.28279 6.44537L5.57699 9.74087C5.69919 9.86307 5.84479 9.92417 6.01379 9.92417C6.18279 9.92417 6.32839 9.86307 6.45059 9.74087L12.6867 3.50477C12.8089 3.38257 12.87 3.23697 12.87 3.06797C12.87 2.89897 12.8089 2.75337 12.6867 2.63117Z" fill="#FF6B00")
                    span Уточним требования  к оборудованию

                .product-content__social
                  button.btn.btn-success.btn-outlined.btn-lg.btn-radius-50.btn-fullwidth
                    svg(width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(id="Vector" d="M21.8827 0.420036C10.4576 0.420036 1.1954 9.39544 1.1954 20.4708C1.1954 24.2592 2.279 27.7998 4.1624 30.8238L0.43 41.58L11.8852 38.0268C14.8479 39.6144 18.2578 40.5216 21.8827 40.5216C33.3078 40.5216 42.57 31.542 42.57 20.4708C42.57 9.39544 33.3078 0.420036 21.8827 0.420036ZM32.1683 28.0854C31.6824 29.2656 29.4808 30.3408 28.509 30.387C27.5372 30.4374 27.5114 31.122 22.2224 28.8792C16.9334 26.6322 13.7514 21.1764 13.502 20.8236C13.2526 20.475 11.4552 17.9718 11.5498 15.4518C11.6487 12.9318 13.0591 11.7432 13.5622 11.2518C14.0653 10.7562 14.6415 10.668 14.9941 10.6638C15.4112 10.6554 15.6821 10.6512 15.9874 10.6638C16.297 10.6764 16.7571 10.6008 17.157 11.6424C17.5569 12.684 18.5158 15.2376 18.6362 15.5022C18.7566 15.7626 18.834 16.065 18.6448 16.401C18.4556 16.737 18.3567 16.947 18.0858 17.2368C17.8106 17.5266 17.5053 17.8836 17.2602 18.1062C16.985 18.3498 16.6969 18.6186 16.9893 19.1436C17.2774 19.6686 18.275 21.3822 19.7886 22.7934C21.7365 24.6078 23.4178 25.2126 23.9381 25.4856C24.4584 25.7628 24.768 25.7292 25.0862 25.4016C25.4044 25.0698 26.4622 23.9568 26.8363 23.457C27.2104 22.9572 27.5587 23.0538 28.036 23.2428C28.5133 23.4318 31.0589 24.7632 31.5792 25.0404C32.0995 25.3134 32.4435 25.4562 32.5682 25.6746C32.6929 25.8804 32.6542 26.9052 32.1683 28.0854Z" fill="#358D00")
                      defs
                        clipPath(id="clip0_28_620")
                          rect(width="43" height="42" fill="white")

                    span Чат с менеджером WhatsApp
                  button.btn.btn-secondary.btn-lg.btn-radius-50.btn-fullwidth
                    img(src="images/icons/cart.png" alt="")
                    span Заказать сейчас

              .product-content__right
                .product-content__right-item
                  svg(width="28" height="28" viewBox="10 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(id="Vector" d="M18.9741 9.20883L32.1604 9.19703C32.8862 9.19703 33.4734 8.60986 33.4734 7.88401C33.4734 7.15816 32.8862 6.57099 32.1604 6.57099L18.9741 6.58279C18.2483 6.58279 17.6611 7.16996 17.6611 7.89581C17.6611 8.62166 18.2483 9.20883 18.9741 9.20883ZM37.3947 18.0872L37.3829 2.38409C37.2619 1.06222 36.1584 0.0236048 34.81 0L16.1327 0.0118024C14.7961 0.138678 13.7515 1.25991 13.7515 2.62899V4.02462H13.7397L13.7486 24.8765H13.7515V26.2722C13.7515 27.7239 14.9288 28.8982 16.3776 28.8982H17.6906V28.9071L21.5677 28.9012C22.2935 28.9012 22.8807 28.314 22.8807 27.5881C22.8807 26.8623 22.2935 26.2751 21.5677 26.2751L17.3985 26.284L19.0036 26.2456C16.9471 26.2456 16.4041 25.8679 16.3776 23.7789L16.3953 26.2869H16.3776L16.3658 2.64374H16.3953L16.3776 5.1311C16.4041 3.04207 16.9471 2.66439 19.0036 2.66439L18.1538 2.64374L33.3406 2.63489L32.1397 2.66439C34.0782 2.66439 34.6743 3.00076 34.7569 4.79178L34.7657 17.0722L29.5963 17.0751V17.0781H28.2006C26.749 17.0781 25.5746 18.2554 25.5746 19.7041V21.0171H25.5658L25.5746 27.3255C25.489 27.7445 25.6071 28.196 25.9316 28.5205C26.0674 28.6563 26.2237 28.7566 26.3919 28.8185C26.5454 28.8805 26.7106 28.9159 26.8876 28.9159C27.3479 28.9159 27.7522 28.6799 27.9853 28.3228L36.7426 19.5448C36.8341 19.4917 36.9197 19.4268 36.9964 19.353C37.2619 19.114 37.4272 18.7658 37.4272 18.3793C37.4272 18.279 37.4154 18.1816 37.3947 18.0872ZM34.751 2.62899H34.7569V3.51417L34.751 2.62899ZM28.1947 24.3926L28.1918 22.1118C28.2213 20.2382 28.6816 19.7307 30.6939 19.7041L28.2065 19.7218L28.1918 22.0587L28.1888 19.7041L32.8803 19.6982L28.1947 24.3926ZM18.9741 14.4639L32.1604 14.4521C32.8862 14.4521 33.4734 13.8649 33.4734 13.139C33.4734 12.4132 32.8862 11.826 32.1604 11.826L18.9741 11.8349C18.2483 11.8349 17.6611 12.422 17.6611 13.1479C17.6611 13.8737 18.2483 14.4639 18.9741 14.4639Z" fill="#FF6B00")
                  .product-content__right-text Выгодный лизинг от 6,9%
                .product-content__right-item
                  svg(width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(id="Vector" d="M11.82 28.08C10.44 28.08 9.12 27.6 8.1 26.76L4.5 34.44L10.2 32.4L12.3 38.1L15.96 30.3C15.36 30 14.88 29.64 14.4 29.16C13.68 28.44 12.78 28.08 11.82 28.08Z" fill="#FF6B00")
                    path(id="Vector_2" d="M28.44 27.24C27.54 27.78 26.52 28.08 25.38 28.08C24.42 28.08 23.52 28.44 22.86 29.16C22.2 29.82 21.42 30.3 20.52 30.6L24 38.1L26.1 32.4L31.8 34.5L28.44 27.24Z" fill="#FF6B00")
                    path(id="Vector_3" d="M18.6 5.69995C13.32 5.69995 9 10.02 9 15.3C9 20.58 13.32 24.9 18.6 24.9C23.88 24.9 28.2 20.58 28.2 15.3C28.2 10.02 23.88 5.69995 18.6 5.69995ZM22.8 21.12L18.6 18.9L14.4 21.12L15.18 16.44L11.76 13.14L16.44 12.48L18.54 8.21995L20.64 12.48L25.32 13.14L21.9 16.44L22.8 21.12Z" fill="#FF6B00")
                    path(id="Vector_4" d="M25.3801 26.88C28.0201 26.88 30.1801 24.72 30.1801 22.08C30.1801 20.82 30.6601 19.56 31.5601 18.66C33.4201 16.8 33.4201 13.74 31.5601 11.88C30.6601 10.98 30.1801 9.78001 30.1801 8.46001C30.1801 5.82001 28.0201 3.66001 25.3801 3.66001C24.1201 3.66001 22.8601 3.18001 21.9601 2.28001C20.1001 0.42001 17.0401 0.42001 15.1801 2.28001C14.2801 3.18001 13.0801 3.66001 11.7601 3.66001C9.12006 3.66001 6.96006 5.82001 6.96006 8.46001C6.96006 9.72001 6.48006 10.98 5.58006 11.88C3.72006 13.8 3.72006 16.8 5.58006 18.72C6.48006 19.62 6.96006 20.82 6.96006 22.14C6.96006 24.78 9.12006 26.94 11.7601 26.94C13.0201 26.94 14.2801 27.42 15.1801 28.32C17.0401 30.18 20.1001 30.18 21.9601 28.32C22.9201 27.42 24.1201 26.88 25.3801 26.88ZM18.6001 26.1C12.6601 26.1 7.80006 21.24 7.80006 15.3C7.80006 9.36001 12.6601 4.50001 18.6001 4.50001C24.5401 4.50001 29.4001 9.36001 29.4001 15.3C29.4001 21.24 24.5401 26.1 18.6001 26.1Z" fill="#FF6B00")
                  .product-content__right-text Гарантия 2 года
                .product-content__right-item
                  svg(width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(id="Vector" d="M15.6491 5.07281C16.1897 5.24213 16.5674 5.55493 16.8282 6.05643L16.9846 6.34951L17.004 9.84743L17.0237 13.3518H9.7215H2.41966L2.43904 9.84743C2.45842 6.38215 2.45842 6.34951 2.6019 6.08227C2.82324 5.66543 3.0643 5.41145 3.42912 5.22241L3.7613 5.04663L9.62392 5.03371C12.8481 5.02725 15.5579 5.04697 15.6491 5.07281ZM13.3952 7.20291C13.2585 7.26819 13.1021 7.42425 13.0042 7.59391C12.8413 7.86761 12.8413 7.88053 12.8611 9.24189C12.8804 10.4992 12.8937 10.623 13.0175 10.7858C13.2714 11.1309 13.4799 11.2353 13.8902 11.2353C14.3006 11.2353 14.509 11.1309 14.763 10.7858C14.8868 10.623 14.8997 10.4992 14.9194 9.24189C14.9388 7.88053 14.9388 7.86761 14.7763 7.59391C14.6852 7.43751 14.5158 7.26819 14.3985 7.20971C14.1184 7.07269 13.6754 7.07269 13.3952 7.20291ZM9.12208 7.26173C9.0245 7.33347 8.88748 7.50279 8.80928 7.63301C8.67906 7.86761 8.6726 7.95227 8.69198 9.24189C8.71136 10.4992 8.72462 10.623 8.84838 10.7858C9.10236 11.1309 9.31078 11.2353 9.72116 11.2353C10.1315 11.2353 10.34 11.1309 10.5939 10.7858C10.7177 10.623 10.7306 10.4992 10.7503 9.24189C10.7697 7.88053 10.7697 7.86761 10.6072 7.59391C10.5161 7.43751 10.3468 7.26173 10.2295 7.20291C9.94284 7.05977 9.35668 7.09207 9.12208 7.26173ZM4.95334 7.26173C4.85576 7.33347 4.71874 7.50279 4.64054 7.63301C4.51032 7.86761 4.50386 7.95227 4.52324 9.24189C4.54262 10.4992 4.55588 10.623 4.67964 10.7858C4.93362 11.1309 5.14204 11.2353 5.55242 11.2353C5.9628 11.2353 6.17122 11.1309 6.4252 10.7858C6.54896 10.623 6.56188 10.4992 6.5816 9.24189C6.60098 7.88053 6.60098 7.86761 6.43812 7.59391C6.347 7.43751 6.17768 7.26173 6.06038 7.20291C5.7741 7.05977 5.18794 7.09207 4.95334 7.26173Z" fill="#FF6B00")
                    path(id="Vector_2" d="M26.9963 6.18012C27.7453 6.42118 28.6507 7.05936 29.6214 8.03652C31.4713 9.89293 32.9435 12.3358 33.5035 14.4918C33.6599 15.0715 33.6599 15.1106 33.6599 18.5629V22.0479L33.4906 22.4127C33.2625 22.9013 32.8653 23.2855 32.3377 23.533C31.9728 23.7024 31.8164 23.735 31.2497 23.7612L30.5918 23.7874L30.5136 24.3932C30.2399 26.5427 28.7418 28.2431 26.5923 28.8292C26.0062 28.9856 24.7033 28.9856 24.1171 28.8292C23.1464 28.5623 22.4562 28.1713 21.7528 27.4937C20.8276 26.608 20.3068 25.52 20.1765 24.2107L20.131 23.7741H16.5028H12.8747L12.8029 24.3473C12.6465 25.5914 12.1777 26.5359 11.2916 27.4284C10.6599 28.0601 10.0605 28.4382 9.31795 28.6857C7.37043 29.3372 5.33145 28.8421 3.91807 27.3764C3.05175 26.4774 2.58289 25.4744 2.45879 24.2107L2.41323 23.7741H1.97667C1.74207 23.7741 1.42961 23.7415 1.28613 23.7024C0.947487 23.6048 0.510925 23.1682 0.413345 22.8296C0.315765 22.4648 0.315765 15.7035 0.413345 15.3387C0.510925 15.0001 0.947487 14.5635 1.28613 14.4659C1.46836 14.4139 4.09351 14.3942 10.3209 14.3942H19.095L19.1147 11.0853L19.1341 7.78289L19.3034 7.41806C19.5316 6.92949 19.9287 6.54528 20.4564 6.29777L20.8929 6.08935L23.7591 6.07643C26.3904 6.06282 26.6576 6.06962 26.9963 6.18012ZM21.6678 8.31022C21.5702 8.38197 21.4267 8.5251 21.355 8.62302C21.2247 8.79235 21.2183 8.88346 21.2183 10.4859C21.2183 12.0883 21.2247 12.1794 21.355 12.3487C21.6025 12.6809 21.798 12.772 22.5276 12.9023C23.4786 13.078 24.0454 13.2474 24.6707 13.5602C25.3479 13.8923 25.7651 14.2116 26.2731 14.7848C26.5012 15.0453 26.7681 15.2928 26.8657 15.3452C27.1261 15.4818 29.7122 15.4754 29.973 15.3387C30.2399 15.202 30.4874 14.8828 30.5397 14.6091C30.5982 14.3095 30.4289 13.3585 30.2011 12.668C29.6279 10.9224 28.26 8.98105 27.1071 8.27759C26.8922 8.14091 26.8269 8.14091 24.3647 8.15382C21.935 8.17354 21.8374 8.18 21.6678 8.31022ZM24.5925 20.7386C24.4034 20.7906 24.1103 20.895 23.941 20.9796C23.5177 21.1816 22.7554 21.9568 22.5406 22.4063C21.9738 23.6112 22.1887 24.9597 23.1203 25.9304C24.3579 27.2268 26.39 27.2135 27.6212 25.8977C28.5137 24.9403 28.7286 23.683 28.2073 22.4716C27.9598 21.9048 27.2237 21.1687 26.6569 20.9212C26.0126 20.6475 25.2116 20.5757 24.5925 20.7386ZM6.87505 20.7386C6.68635 20.7906 6.39293 20.895 6.22361 20.9796C5.82615 21.1687 5.04449 21.9568 4.84253 22.3607C4.24991 23.5789 4.46479 24.9468 5.40285 25.9304C6.34737 26.9205 7.79985 27.1744 9.05071 26.5689C9.45463 26.3669 10.2428 25.5853 10.4318 25.1878C10.8486 24.315 10.868 23.3641 10.4903 22.4716C10.2427 21.9048 9.50665 21.1687 8.93987 20.9212C8.29489 20.6475 7.49385 20.5757 6.87505 20.7386Z" fill="#FF6B00")
                  .product-content__right-text Доставка по РФ и СНГ
                .product-content__right-item
                  svg(width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(id="Vector" d="M28.623 12.858L25.71 12.372C25.497 11.508 25.191 10.68 24.789 9.90905L26.652 7.59605C27.048 7.10705 27.03 6.40505 26.613 5.93405L25.455 4.62905C25.035 4.15805 24.339 4.05905 23.808 4.39505L21.318 5.96105C20.223 5.19605 18.981 4.62905 17.643 4.30205L17.157 1.37405C17.055 0.756049 16.518 0.300049 15.888 0.300049H14.142C13.512 0.300049 12.975 0.756049 12.876 1.37405L12.387 4.30205C11.28 4.57205 10.242 5.01005 9.29705 5.58605L6.92705 3.89705C6.41705 3.53105 5.71505 3.58805 5.27105 4.03505L4.03805 5.26805C3.59405 5.71205 3.53705 6.41405 3.90305 6.92405L5.59805 9.29705C5.02805 10.236 4.59305 11.268 4.32305 12.366L1.37705 12.858C0.756049 12.963 0.300049 13.497 0.300049 14.127V15.87C0.300049 16.5 0.756049 17.037 1.37405 17.139L4.32005 17.6311C4.54205 18.534 4.86605 19.3951 5.29505 20.1961L3.43805 22.494C3.04205 22.983 3.06005 23.6851 3.47705 24.156L4.63505 25.4611C5.05505 25.9321 5.75105 26.031 6.28205 25.695L8.80805 24.108C9.87605 24.84 11.085 25.3771 12.384 25.695L12.873 28.623C12.972 29.244 13.512 29.6971 14.139 29.6971H15.885C16.515 29.6971 17.052 29.241 17.154 28.623L17.643 25.695C18.735 25.428 19.761 24.9991 20.7 24.4321L23.166 26.193C23.676 26.559 24.378 26.5021 24.822 26.055L26.055 24.8221C26.499 24.378 26.559 23.6761 26.19 23.166L24.432 20.703C25.005 19.761 25.44 18.726 25.71 17.625L28.623 17.139C29.244 17.037 29.697 16.5 29.697 15.87V14.127C29.7 13.497 29.244 12.963 28.623 12.858ZM15.045 20.511C12 20.511 9.53405 18.042 9.53405 15C9.53405 11.955 12.003 9.48905 15.045 9.48905C18.087 9.48905 20.556 11.958 20.556 15C20.559 18.042 18.09 20.511 15.045 20.511Z" fill="#FF6B00")
                    defs
                      clipPath(id="clip0_59_22")
                        rect(width="30" height="30" fill="white")
                  .product-content__right-text доступные запасные части в наличии

    section.section-producttabs.section-gray
      .container
        .section-producttabs__inner
          .producttabs
            .producttabs-header
              .producttabs-tab.is--active(data-producttabs="0") характеристики
              .producttabs-tab(data-producttabs="1") комплектации
              .producttabs-tab(data-producttabs="2") описание
            .producttabs-content
              .producttabs-item.is--active(data-producttabs-content="0")
                .producttabs-item__table
                  .producttabs-item__key БетоносмесительEUROMIX
                    span.producttabs-item__value 600.800.2
                  .producttabs-item__key Наличие брони (бетоносмеситель)ДА
                    span.producttabs-item__value да
                  .producttabs-item__key Бункера (кол-во х м3)2х15
                    span.producttabs-item__value 2х15
                  .producttabs-item__key Подача инертных материаловСКИП
                    span.producttabs-item__value СКИП
                  .producttabs-item__key Дозирование заполнителей, цементаВЕСОВАЯ
                    span.producttabs-item__value ВЕСОВАЯ
                  .producttabs-item__key Дозирование водыВЕСОВАЯ
                    span.producttabs-item__value ВЕСОВАЯ
                  .producttabs-item__key Силоса цемента, т (дополнительно)от 10 - 120
                    span.producttabs-item__value от 10 - 120
                  .producttabs-item__key Режим работыАВТОМАТ
                    span.producttabs-item__value 600.800.2
                  .producttabs-item__key Установленная мощность, кВтдо 50
                    span.producttabs-item__value 600.800.2
                  .producttabs-item__key Масса не более, кг11 000
                    span.producttabs-item__value 600.800.2
                  .producttabs-item__key ДхШхВ, мм
                    span.producttabs-item__value 600.800.2
                .producttabs-item__images
                  img.producttabs-item__image(src="images/card/card-desc.jpg" alt="")
                  img.producttabs-item__image(src="images/card/card-desc.jpg" alt="")
              .producttabs-item(data-producttabs-content="1")
                .producttabs-item__images
                  img.producttabs-item__image(src="images/card/card-desc.jpg" alt="")
                  img.producttabs-item__image(src="images/card/card-desc.jpg" alt="")
              .producttabs-item(data-producttabs-content="2")
                .producttabs-item__images
                  img.producttabs-item__image(src="images/card/card-desc.jpg" alt="")
          
          .section-producttabs__sitebar.producttabs-sitebar
            .producttabs-sitebar__block
              .producttabs-sitebar-title Видео презентация
              ul.producttabs-sitebar__list
                li.producttabs-sitebar__item
                  img.producttabs-sitebar__video(src="images/card/youtube-thumb.jpg" alt="")
                li.producttabs-sitebar__item
                  img.producttabs-sitebar__video(src="images/card/youtube-thumb.jpg" alt="")
                li.producttabs-sitebar__item
                  img.producttabs-sitebar__video(src="images/card/youtube-thumb.jpg" alt="")
                li.producttabs-sitebar__item
                  img.producttabs-sitebar__video(src="images/card/youtube-thumb.jpg" alt="")

            .producttabs-sitebar__block
              .producttabs-sitebar-title Каталог
              ul.producttabs-sitebar__list
                li.producttabs-sitebar__item(data-accordeon)
                  .producttabs-sitebar__item-wrapper
                    span Бетонные заводы
                    svg(width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(id="Vector" d="M9.685 3.43591C9.972 3.14891 9.972 2.68291 9.685 2.39591C9.398 2.10891 8.932 2.10891 8.645 2.39591L5.449 5.59091C5.32 5.69091 5.162 5.74691 4.997 5.74691C4.832 5.74691 4.673 5.69091 4.545 5.59091L1.356 2.40191C1.069 2.11491 0.603 2.11491 0.316 2.40191C0.029 2.68891 0.029 3.15491 0.316 3.44191L4.477 7.60291C4.615 7.74091 4.802 7.81791 4.997 7.81791C5.192 7.81791 5.379 7.74091 5.517 7.60291L9.685 3.43591Z" fill="black")
                  .producttabs-sitebar__item-list(data-accordeon-list)
                    p Some content

                li.producttabs-sitebar__item.is--active(data-accordeon)
                  .producttabs-sitebar__item-wrapper
                    span Продукция
                    svg(width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(id="Vector" d="M9.685 3.43591C9.972 3.14891 9.972 2.68291 9.685 2.39591C9.398 2.10891 8.932 2.10891 8.645 2.39591L5.449 5.59091C5.32 5.69091 5.162 5.74691 4.997 5.74691C4.832 5.74691 4.673 5.69091 4.545 5.59091L1.356 2.40191C1.069 2.11491 0.603 2.11491 0.316 2.40191C0.029 2.68891 0.029 3.15491 0.316 3.44191L4.477 7.60291C4.615 7.74091 4.802 7.81791 4.997 7.81791C5.192 7.81791 5.379 7.74091 5.517 7.60291L9.685 3.43591Z" fill="black")

                  .producttabs-sitebar__item-list(data-accordeon-list).is--active
                    a.producttabs-sitebar__item-link(href="#") бетоносмесители
                    a.producttabs-sitebar__item-link(href="#") БЕТОНОСМЕСИТЕЛИ РОТОРНОГО ТИПА СЕРИИ EUROMIX 600
                    a.producttabs-sitebar__item-link(href="#") ДВУХВАЛЬНЫЕ БЕТОНОСМЕСИТЕЛИ СЕРИИ EUROMIX 620
                    a.producttabs-sitebar__item-link(href="#") БЕТОНОСМЕСИТЕЛИ ПЛАНЕТАРНОГО ТИПА C.M.
                    a.producttabs-sitebar__item-link(href="#") ДВУХВАЛЬНЫЕ БЕТОНОСМЕСИТЕЛИ C.M.
                    a.producttabs-sitebar__item-link(href="#") БЕТОНОСМЕСИТЕЛИ ПЛАНЕТАРНОГО ТИПА SICOMA
                    a.producttabs-sitebar__item-link(href="#") ДВУХВАЛЬНЫЕ БЕТОНОСМЕСИТЕЛИ SICOMA
                    a.producttabs-sitebar__item-link(href="#") БЕТОНОСМЕСИТЕЛИ ПРИНУДИТЕЛЬНОГО ТИПА БП
                    a.producttabs-sitebar__item-link(href="#") СИЛОСЫ
                    a.producttabs-sitebar__item-link(href="#") СИЛОСЫ ЦЕМЕНТА СЕРИИ EUROSILO
                    a.producttabs-sitebar__item-link(href="#") СИЛОСЫ ЦЕМЕНТА СЕРИИ EUROSILO MOBILE
                    a.producttabs-sitebar__item-link(href="#") СТАНЦИИ РАСТАРИВАНИЯ МКР ТИПА БИГ-БЭГ
                    a.producttabs-sitebar__item-link(href="#") ДОЗИРУЮЩИЕ КОМПЛЕКСЫ ИНЕРТНЫХ МАТЕРИАЛОВ
                    a.producttabs-sitebar__item-link(href="#") ДОПОЛНИТЕЛЬНОЕ ОБОРУДОВАНИЕ КАБИНА ОПЕРАТОРА
                    a.producttabs-sitebar__item-link(href="#") ТЕХНОЛОГИЧЕСКОЕ ОБОРУДОВАНИЕ СИЛОСА ЦЕМЕНТА

                li.producttabs-sitebar__item(data-accordeon)
                  .producttabs-sitebar__item-wrapper
                    span Комплектующие
                    svg(width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(id="Vector" d="M9.685 3.43591C9.972 3.14891 9.972 2.68291 9.685 2.39591C9.398 2.10891 8.932 2.10891 8.645 2.39591L5.449 5.59091C5.32 5.69091 5.162 5.74691 4.997 5.74691C4.832 5.74691 4.673 5.69091 4.545 5.59091L1.356 2.40191C1.069 2.11491 0.603 2.11491 0.316 2.40191C0.029 2.68891 0.029 3.15491 0.316 3.44191L4.477 7.60291C4.615 7.74091 4.802 7.81791 4.997 7.81791C5.192 7.81791 5.379 7.74091 5.517 7.60291L9.685 3.43591Z" fill="black")
                  .producttabs-sitebar__item-list(data-accordeon-list)
                    p Some content




    section.section-popular.section-gray
      .container
        .section-popular__inner
          h2.section-popular__title.title популярные товары
          .section-popular__content
            +card(
              "В наличии",
              "Мобильный бетонный завод Euromix Crocus",
              "1 212 000",
              "images/main/card-1.jpg"
            )
            +card(
              "В наличии",
              "Мобильный бетонный завод Euromix Crocus",
              "1 212 000",
              "images/main/card-1.jpg"
            )
            +card(
              "В наличии",
              "Мобильный бетонный завод Euromix Crocus",
              "1 212 000",
              "images/main/card-1.jpg"
            )
            +card(
              "В наличии",
              "Мобильный бетонный завод Euromix Crocus",
              "1 212 000",
              "images/main/card-1.jpg"
            )

    section.section-news
      .container
        .section-news__inner
          h2.section-news__title.title Новости компании
          ul.section-news__list
            li.section-news__item
              +news-card(
                "В город Хабаровск произведена отгрузка бетоносмесителя EUROMIX 600.300М.",
                "23 ноя",
                2022,
                "images/main/completed-works-1.jpg"
              )
            li.section-news__item
              +news-card(
                "В город Хабаровск произведена отгрузка бетоносмесителя EUROMIX 600.300М.",
                "23 ноя",
                2022,
                "images/main/completed-works-1.jpg"
              )
          .section-job__btn
            button.btn.btn-sm.btn-primary все новости

  include pug/includes/footer.pug
