@font-face {
  font-display: swap;
  font-weight: var(--fw-400);
  font-family: Ubuntu;
  src: url("../resources/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-weight: var(--fw-700);
  font-family: Ubuntu-bold;
  src: url("../resources/fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-display: swap;
  font-family: Ubuntu-medium;
  src: url("../resources/fonts/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
  font-display: swap;
  font-weight: var(--fw-400);
  font-family: Ubuntu-light;
  src: url("../resources/fonts/Ubuntu/Ubuntu-Light.ttf");
}

@font-face {
  font-display: swap;
  font-family: Ubuntu-italic;
  src: url("../resources/fonts/Ubuntu/Ubuntu-Italic.ttf");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  src: url("../resources/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  src: url("../resources/fonts/Inter/Inter-Regular.ttf");
}
