:root {
  // Colors
  --black: #000;
  --black-2: #222A31;
  --black-3: #474747;
  --orange: #FF8000;
  --orange-2: #FF6B00;
  --orange-3: #EC5600;
  --gray: #8F8F8F;
  --light-gray: #D9D9D9;
  --white: #fff;
  --white-bg: #f2f2f2;

  // Errors
  --error-text: #da2c2c;
  --error-bg: #fce6e6;
  --card-bg-footer: #eff4f4;

  // Typography
  --fs-1: 4.8rem;
  --fs-2: 3.6rem;
  --fs-3: 2.6rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;

  // Font weight
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  // Spacing
  --section-padding: 35px;

  // Shadow
  --shadow-1: 0px 5px 15px 0px rgba(36, 35, 33, 0.07);
  --shadow-2: 0 4px 20px 0 rgba(0, 0, 0, 0.25);

  // Border Radius
  --radius-3: 3px;
  --radius-5: 5px;
  --radius-8: 8px;
  --radius-10: 10px;

  // Transition
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-10: 1s ease;

}
