@import "variables";
@import "reset";
@import "fonts";
@import "mixins";
@import "base";
@import "components/form";
@import "components/button";
@import "components/input";
@import "components/breadcrumbs";
@import "components/pagination";
@import "components/accordion";
@import "components/label";
@import "components/range";
@import "components/select";
@import "components/dots";
@import "components/card";
@import "components/modal";
@import "components/mobile-menu";

.header {
  &-top {
    height: 6.4rem;
    color: var(--white);
    background: linear-gradient(70deg, #222a31 80%, #ff8000 80%);

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 6.4rem;
    }

    &__menu {
      display: flex;
      gap: 5rem;
      align-items: center;
      height: 100%;
      font-weight: 500;
      letter-spacing: 0%;

      &--orange {
        padding: 0 0 0 5rem;
        background: var(--orange);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
      }
    }

    a {
      color: var(--white);
    }

    &__item {
      display: flex;
      gap: 1.2rem;
      align-items: center;

      &:nth-child(2) {
        gap: 0.5rem;
      }

      &-link {
        @include text-medium;

        border-bottom: 1px dashed var(--gray);
      }
    }

    &__link {
      @include text-medium;

      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: 1.6rem;
    }
  }

  &-bottom {
    height: 12rem;
    box-shadow: 0 4px 10px 0 rgb(214, 226, 228);

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__block {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-weight: 500;
    }

    &__menu {
      &-list {
        display: flex;
        align-items: center;
        height: 3.7rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      &-item {
        position: relative;
        width: 13.8rem;
        text-align: center;
        border-right: 1px solid var(--light-gray);
      }

      &-link {
        color: var(--black-3);

        &.is--active {
          + .submenu {
            display: block;
          }
        }
      }

      &-icon {
        margin-left: 1rem;
      }
    }

    &__logo {
      margin-left: -2rem;
    }

    &__text {
      @include text-medium;
    }
  }
}

.submenu {
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 3;
  display: none;
  min-width: 20rem;
  color: var(--black-3);
  font-size: 1.4rem;
  text-align: left;
  background: var(--white);
  border-radius: var(--radius-5);
  box-shadow: var(--shadow-modal);

  &.is--active {
    display: block;
  }

  &__item {
    padding: 0.5rem 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--article-grey);
    }
  }
}

.section-hero {
  position: relative;
  background: var(--black-2);

  &__image {
    width: 100%;
    min-height: 42.8rem;
    filter: brightness(0.6);
    object-fit: cover;
  }

  &__block {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    color: var(--white);
    transform: translateY(-50%);
  }

  &__title {
    @include title;

    font-size: 3.6rem;
    line-height: 1.2;

    span {
      display: block;
      font-size: 3.6rem;
      font-family: Ubuntu-bold, sans-serif;
      text-transform: uppercase;
    }
  }

  &__content {
    min-height: 16rem;

    &-inner {
      display: flex;
      gap: 6rem;
      align-items: center;
      padding: 3.8rem 0;
    }

    &-year {
      color: var(--orange-3);
    }

    &-text {
      width: 60rem;
      color: var(--gray);
    }
  }

  &__form {
    position: absolute;
    top: 30%;
    right: 0;
    width: 30.8rem;
    padding: 3rem;
    background: rgba(#ff6b00, 0.8);
    border-radius: var(--radius-3);
    transform: translateY(-10%);

    .form {
      &__title {
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 2.4rem;
        text-align: center;
      }

      &__subtitle {
        width: 20rem;
        margin: 0 auto 3.6rem;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.7rem;
        text-align: center;
      }

      &__inputs {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-bottom: 0.8rem;
      }

      &__btn {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
      }

      &__info {
        display: flex;

        &-icon {
          width: 4.8rem;
          height: 4.2rem;
          margin-bottom: 1rem;
        }

        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 49%;
        }

        &-text {
          color: var(--black-2);
          font-size: 1.4rem;
          line-height: 1.4rem;
          text-align: center;
        }
      }

      &__checkbox {
        margin-bottom: 1.8rem;
        color: var(--black-2);
      }
    }
  }
}

.orange {
  color: var(--orange);
}

.year {
  &__number {
    font-weight: 700;
    font-size: 13rem;
    line-height: 0.5;
  }

  &__content {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
  }

  &__title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
  }

  &__text {
    width: 3rem;
    font-size: 1.4rem;
    line-height: 1;
  }
}

// Main Catalog
.main-catalog {
  padding: 5rem 0;
  background: var(--white-bg);

  &__title {
    margin-bottom: 1.2rem;
    color: var(--black-2);
  }
}

// Catalog Tabs
.catalog-tabs {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    background: var(--white);
  }

  &__btn {
    width: 22rem;
    padding: 0.9rem 2rem;
    font-size: 2rem;
    border-radius: var(--radius-3);
    transform: skew(20deg);

    &:hover,
    &.is--active {
      color: var(--white);
      background: var(--orange);
    }

    &-text {
      transform: skew(-20deg);
    }
  }

  &__content {
    display: none;
    flex-wrap: wrap;
    gap: 3rem;

    &.is--active {
      display: flex;
    }

    &-more {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 57.7rem;
      height: 50.5rem;
    }

    &-link {
      @include text-medium;

      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      width: 40rem;
      height: 36.8rem;
      color: var(--orange);
      text-transform: uppercase;
      background: var(--white);
      transition: var(--transition-2);

      &:hover {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.section-black {
  background: var(--black-2);
}

.section-advantages {
  width: 100%;
  height: 40rem;
  padding: 6.5rem 0;
  background-image: url("../images/icons/main-advantages.svg");
  background-repeat: no-repeat;
  background-position: 0 110%;
  background-size: 100%;

  &__list {
    display: flex;
    gap: 3.2rem;
    align-items: center;
  }

  &__item {
    width: 21.1rem;
    height: 26.6rem;
    padding: 2rem;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
    border: 2px solid var(--orange-2);

    &:nth-child(1),
    &:nth-child(2) {
      .section-advantages__icon {
        position: relative;
        left: 2rem;
      }
    }

    .section-advantages__block:last-child {
      margin-top: -2rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
  }
}

// Section partners
.section-partners {
  padding: 7rem 0;

  .swiper-slide {
    visibility: hidden;
    opacity: 0;
  }

  .swiper-container {
    overflow: visible;
  }
  
  .swiper-slide.swiper-slide-active {
    visibility: visible;
    opacity: 1;
  }
  
  .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    visibility: hidden;
    opacity: 0;
  }

  &__slide {
    display: flex;
    gap: 3rem;
    width: 100%;

    &-left {
      display: flex;
      gap: 3rem;
      width: 50%;
      margin-top: 4rem;
    }

    &-right {
      width: 50%;
      padding: 3.6rem 7rem;
      box-shadow: 0 20px 40px 0 #d6e2e4;
    }

    &-block {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      justify-content: space-between;
    }

    &-icon {
      width: 4.8rem;
      height: 4.8rem;
    }

    &-text {
      @include text-italic;

      color: var(--gray);
    }

    &-img {
      height: 100%;
    }
  }

  &__pagination {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3.5rem;
    margin-right: 26rem;
  }

  &__dot {
    position: relative;
    right: 27rem;
    width: 0.8rem;
    height: 0.8rem;
    background: var(--orange-2);
    border-radius: 50%;
    cursor: pointer;

    &--active,
    &.is--active {
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 1.7rem;
        height: 1.7rem;
        background: transparent;
        border: 2px solid var(--orange-2);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        content: "";
      }
    }
  }
}


// Section Popular
.section-popular {
  padding: 3rem 0 10rem;

  &__content {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    margin-top: 4rem;
  }
}

// Section Partners
.section-choose {
  width: 100%;
  height: 47rem;
  padding: 5rem 0;
  overflow: hidden;
  color: var(--white);
  background-image: url("../images/icons/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    position: relative;
    display: flex;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 90rem;
  }

  &__titleblock {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 90rem;
    height: 16rem;
    margin-bottom: 4rem;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      width: 4.6rem;
      height: 100%;
      border: 3px solid var(--white);
      content: "";
    }

    &::before {
      left: 0;
      border-right: none;
    }

    &::after {
      right: 0;
      border-left: none;
    }
  }

  &__title {
    @include text-bold;

    margin-bottom: -3rem;
    color: var(--orange-2);
    font-size: 6rem;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__subtitle {
    @include text-medium;

    font-size: 4rem;
    line-height: 1;
    text-transform: capitalize;
  }

  &__socialblock {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    min-width: 90rem;
  }

  &__phone {
    @include text-bold;

    font-size: 3.6rem;
  }

  &__icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  &__infoblock {
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    width: 52.4rem;
    padding-left: 3.6rem;
  }

  &__item {
    position: relative;
    margin-bottom: 1.5rem;

    &::before {
      position: absolute;
      top: 0.4rem;
      left: -3.6rem;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url("../images/icons/list-check-icon.svg");
      content: "";
    }
  }

  &__askme {
    @include text-bold;

    margin-bottom: 1.5rem;
    color: var(--orange-2);
    font-size: 2.4rem;
  }

  &__author {
    @include text-medium;

    font-size: 2.4rem;
  }

  &__prof {
    @include text-medium;

    margin-bottom: 1.4rem;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: -3rem;
    z-index: 0;
    height: 45rem;
  }
}

// Section Services
.section-services {
  padding: 6.5rem 0 5rem;

  &__title {
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    margin-bottom: 3rem;
    color: var(--orange-2);
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}

.services-tabs {
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
    height: 5.2rem;
    margin-left: 2rem;
    background: var(--card-bg-footer);

    &::before {
      position: absolute;
      top: 0;
      left: -2rem;
      z-index: 0;
      width: 0;
      height: 5.2rem;
      border-color: transparent var(--card-bg-footer) transparent transparent;
      border-style: solid;
      border-width: 0 2rem 5.2rem 0;
      border-radius: var(--radius-3);
      transform: rotate(0deg);
      content: "";
    }
  }

  &__btn {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    height: 100%;
    padding: 0.7rem 2rem;
    font-size: 2rem;
    border-radius: var(--radius-3);
    transform: skew(20deg) translateX(-1rem);

    &:hover,
    &.is--active {
      color: var(--white);
      background: var(--black-2);

      .services-tabs__btn-icon {
        fill: var(--white);
      }
    }

    &-text {
      @include text-medium;

      width: 15rem;
      font-size: 1.6rem;
      line-height: 1;
      text-align: left;
      text-transform: capitalize;
      transform: skew(-20deg);
    }

    &-icon {
      transform: skew(-20deg);
      fill: var(--orange-2);
    }
  }

  &__article-wrapper {
    display: none;
    width: 100%;
    padding: 4rem 0;

    &.is--active {
      display: block;
    }
  }

  &__article {
    width: 92rem;
    margin: 0 auto 5rem;;

    &-title {
      display: flex;
      gap: 3rem;
    }

    &-icon {
      height: 4.7rem;
    }

    &-text {
      @include text-italic;

      color: var(--gray);
    }
  }

  &__content {
    margin-bottom: 6rem;
  }

  &__list {
    display: flex;
    gap: 3rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

// Section job
.section-job {
  padding: 6.5rem 0 5rem;
  background-image: url("../images/main/job-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin-bottom: 3rem;
    color: var(--white);
  }

  &__list {
    display: flex;
    gap: 3rem;
    margin-bottom: 4rem;
  }

  &__item {
    border-radius: var(--radius-5);
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    color: var(--article-grey);
  }

  .card__img {
    width: 100%;
  }
}

// Section About
.section-about {
  padding: 6.5rem 0 5rem;

  &__wrapper {
    display: flex;
    gap: 3rem;
  }

  &__block {
    width: 50%;
  }

  &__youtube {
    width: 100%;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__subtitle {
    @include text-bold;

    width: 57rem;
    margin-bottom: 6rem;
    font-size: 4rem;
    line-height: 1;
  }

  &__text {
    color: var(--black-3);
  }

  &__list {
    display: flex;
    margin: 3rem 0 6rem;
  }

  &__item {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    width: 20rem;

    &-text {
      line-height: 1;
      text-transform: capitalize;
    }

    &:last-child {
      gap: 1.5rem;
    }
  }
}

// Section Reviews
.section-reviews {
  padding: 6.5rem 0 5rem;
  background: var(--light-grey-bg);
  background-image: url("../images/icons/main-advantages.svg");
  background-repeat: no-repeat;
  background-position: 0 200%;
  background-size: 100%;

  &__img {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-3);
    cursor: pointer;

    &.is--active {
      .section-reviews__img-hover {
        display: flex;
      }
    }
  }

  &__img-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(#ff6b00, 0.9);
    content: "";

    svg {
      width: 5.6rem;
      height: 5.6rem;
    }
  }

  &__slide-block {
    display: flex;
    gap: 4rem;
  }
}

.section-news {
  padding: 6.5rem 0 5rem;

  &__title {
    margin-bottom: 6rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 4rem;
  }

  &__item {
    width: 57rem;
    height: 26rem;
  }
}

.footer {
  color: var(--white);
  background-image: url("../images/icons/footer-bg-invert.svg");
  background-repeat: no-repeat;
  background-position: 0 22rem;
  background-size: 100%;

  a {
    color: var(--white);
  }

  &-top {
    padding: 3rem 0 2.5rem;

    &__inner {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    &__title {
      font-size: 2rem;
    }

    &__phone {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 34rem;
      font-size: 2.4rem;
    }
  }

  &-form {
    width: 56rem;
  }

  &-middle {
    border-top: 1px solid var(--footer-border-color);
    border-bottom: 1px solid var(--footer-border-color);

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 70rem 48rem);
      gap: 6rem;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      width: 70rem;
      padding: 4rem 0 2.4rem;
    }

    &__title {
      margin-bottom: 4.6rem;
      color: var(--orange-2);
      font-weight: var(--fw-500);
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    &__contacts {
      &-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
      }

      &-link {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__link {
      display: flex;
      gap: 1rem;
      align-items: center;
      text-transform: uppercase;
    }

    &__logo {
      margin-bottom: 2rem;
    }

    &__map {
      margin-top: 1.6rem;
    }
  }

  &-bottom {
    padding: 2.4rem 0;

    &__links {
      display: flex;
      gap: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.map {
  position: relative;

  &__frame {
    width: 100%;
    height: 33.2rem;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  &-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    width: 27.6rem;
    height: 22.5rem;
    padding: 1.5rem;
    color: var(--black-2);
    font-weight: bold;
    background: var(--white);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-modal);
    transform: translate(-50%, -50%);

    &__close {
      position: absolute;
      top: 0.7rem;
      right: 1rem;
      cursor: pointer;
    }

    &__title {
      margin-bottom: 1rem;
      color: var(--orange);
      font-size: 2rem;
    }

    &__text {
      margin-bottom: 0.7rem;
      font-size: 1.5rem;
      line-height: 1.3;
    }

    &__phone {
      margin-bottom: 0.7rem;
      font-size: 1.8rem;
    }

    &__social {
      display: flex;
      gap: 1.3rem;
      align-items: center;
    }
  }
}

.social-block {
  &__list {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}

.section-partners,
.section-reviews {
  .swiper-slide {
    visibility: hidden;
    opacity: 0;
  }
  
  .swiper-container {
    overflow: visible;
  }
  
  .swiper-slide.swiper-slide-active {
    visibility: visible;
    opacity: 1;
  }
  
  .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    visibility: hidden;
    opacity: 0;
  }
}

.hamburger {
  position: relative;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 250ms;

  &.closed .hamburger1 {
    background-color: transparent;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0);
    transform: rotate(90deg);

    &::before {
      position: absolute;
      top: 0;
      width: 3rem;
      height: 0.3rem;
      background-color: var(--white);
      transform: rotate(45deg);
      content: "";
    }
    
    &::after {
      position: absolute;
      top: 0;
      width: 3rem;
      height: 0.3rem;
      background-color: var(--white);
      transform: rotate(-45deg);
      content: "";
    }
  }
}

.hamburger1 {
  position: relative;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transition: 250ms;
}

.hamburger1::before {
  position: absolute;
  top: 1rem;
  width: 3rem;
  height: 0.3rem;
  background-color: inherit;
  border-radius: inherit;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transform-origin: center;
  transition: inherit;
  content: "";
}

.hamburger1::after {
  position: absolute;
  top: -10px;
  width: 30px;
  height: 3px;
  background-color: var(--white);
  border-radius: inherit;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transform-origin: center;
  transition: inherit;
  content: "";
}

/*
 * Product
*/
.product {
  padding-bottom: 4rem;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  &-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50rem;

    &__main {
      margin-bottom: 2.5rem;
      overflow: hidden;
      box-shadow: 0 5px 20px 0 rgb(214, 226, 228);
      cursor: pointer;
    }

    &__items {
      position: relative;
      z-index: 1;
      display: flex;
      gap: 1.2rem;
      justify-content: center;
    }

    &__item {
      box-shadow: 0 5px 20px 0 rgb(214, 226, 228);
      cursor: pointer;
    }

    &__btns {
      position: absolute;
      bottom: 3.5rem;
      z-index: 0;
      display: flex;
      justify-content: space-between;
      width: 85%;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.5rem;
      height: 3.5rem;
      background: var(--orange);
      border-radius: 50%;
      cursor: pointer;

      svg {
        path {
          fill: #000;
        }
      }

      &--left {
        transform: rotate(90deg);
      }

      &--right {
        transform: rotate(-90deg);
      }

      &--disabled {
        background: #D9D9D9;
      }
    }
  }

  &-content {
    &__title {
      margin-bottom: 2rem;
      font-size: 3rem;
      line-height: 4rem;
    }

    &__left {
      width: 80%;
      margin-top: 1.2rem;
    }

    &__right {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      min-width: 11rem;
      max-width: 12rem;
      margin-top: 1rem;

      &-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        height: 10.5rem;
        font-size: 1.4rem;
        background: #F1F1F1;
      }

      &-text {
        width: 9rem;
        color: #53595F;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
      }
    }

    &__info {
      display: flex;
      border-top: 1px solid #D9D9D9;
    }

    &__order {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 3rem;
    }

    &__price {
      margin-bottom: 2rem;
      color: var(--orange-2);
      font-size: 2rem;

      span {
        font-weight: 600;
        font-size: 4rem;
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      margin: 3rem 0;
    }

    &__list {
      margin-bottom: 2rem;
    }

    &__item {
      display: flex;
      gap: 1.5rem;
      align-items: center;
    }

    &__social {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;

    }
  }
}

.season {
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 14px;

  &-title {
    color: var(--footer-border-color);
  }

  &-block {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.section-gray {
  background: #F2F2F2;
}

.producttabs {
  width: 88rem;

  &-header {
    display: flex;
  }

  &-tab {
    width: 19rem;
    padding: 1rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    &.is--active {
      background: #fff;
    }
  }

  &-content {
    padding: 4rem 3.5rem;
    background: #fff;
  }

  &-item {
    display: none;

    &.is--active {
      display: block;
    }

    &__table {
      margin-bottom: 3rem;
      color: #53595F;
    }

    &__key {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      border-bottom: 1px solid #D9D9D9;
    }

    &__images {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      align-items: center;
      justify-content: center;
    }
  }

  &-sitebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-title {
      padding: 1rem 2rem;
      color: #fff;
      background: var(--orange-2);
    }

    &__block {
      overflow: hidden;
      background: #fff;
      border-radius: var(--radius-3);
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 2.2rem;
    }

    &__video {
      width: 100%;
    }

    &__item {
      cursor: pointer;

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      span {
        font-weight: 600;
        font-size: 2rem;
      }

      svg {
        transform: rotate(-90deg);
      }

      &-list {
        display: none;

        &.is--active {
          display: block;
        }
      }

      &-link {
        color: #53595F;
        font-size: 1.5rem;
        text-transform: lowercase;
        text-transform: capitalize;
      }
    }
  }
}

.section-producttabs {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &__sitebar {
    width: 27.5rem;
  }
}

@import "media";

// https://pixso.net/app/editor/ZGSuOt0cLWqrhSPe6DOK0g?icon_type=1&page-id=0%3A1&editMode=coder